p,h1,h2,h3,h4,h5,h6,input,textarea{
    direction: rtl;
}
.banner-content{
    direction: rtl;
}
.site-wrapper .content,
.service-box,
.home-contact-section .right,
.site-footer .logo-text,
.site-footer .contact-block,
.site-footer .language-block,
.home-tech-section .tech-box{
    direction: rtl;
}

.site-footer .language-block .language-ul li .arabic {

    background: #089b93;
}
.site-footer .language-block .language-ul li .english {
    background: transparent;
    border: 3px solid #089b93;
}