@media screen and (max-width: 1399px) {
  .about-section-3 .content {
    padding-top: 100px;
  }
  .mob-app-dev-section-3 .grid-ul li {
    width: 42%;
  }
  .microsoft-solutions-section.microsoft-solutions-1 .content {
    padding-right: 30px;
    padding-top: 15px;
  }
  .microsoft-solutions-section.microsoft-solutions-2 .content {
    padding-left: 30px;
    padding-top: 40px;
  }
  .microsoft-azure-section .info-box-row .shape-box .info-box {
    padding: 100px 30px 0px 30px;
  }
  .microsoft-protect-section .grid-ul li {
    margin-right: 40px;
    width: 41%;
  }
  .microsoft-grid-section-1 .grid-ul li {
    margin-right: 45px;
    width: 27%;
  }
}

@media screen and (max-width: 1199px) {
  .home-about-section .image {
    padding: 0;
    margin-top: 100px;
  }
  .home-about-section .content {
    padding-top: 125px;
  }
  .about-section-3 .image {
    padding: 0;
  }
  .about-section-3 .content {
    padding-top: 100px;
  }
  .about-section-3 .content .points-ul li {
    margin-bottom: 15px;
  }
  .about-section-3 {
    padding-top: 60px;
  }
  .about-page .home-about-section .content {
    padding-top: 100px;
  }
  .about-section-3 .content .points-ul {
    margin-top: 35px;
    padding-left: 0;
  }
  .home-about-section .info-box-row .info-box .icon {
    margin-bottom: 0;
    width: 90px;
  }
  .home-about-section .info-box h3 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .home-about-section .info-box-row .info-box p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    min-height: 108px;
  }
  .home-about-section .info-box-row .info-box .link {
    bottom: 10%;
  }
  .solutions-1 .content {
    padding-right: 0;
    padding-top: 30px;
  }

  .solutions-box-section-2 .info-box-row .shape-box .info-box {
    padding: 0 10px 0px 15px;
  }
  .solutions-box-section-2 .info-box h3 {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .solutions-box-section-2 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 80px;
  }

  .rpa-1 .content {
    padding-right: 35px;
    padding-top: 0;
  }
  .solutions-2 .content {
    padding-left: 35px;
    padding-top: 30px;
  }
  .rpa-up.solutions-3 .content {
    margin-top: 90px;
    padding-right: 35px;
  }
  .rpa-box-section .grid-ul li {
    margin-right: 60px;
    width: 25%;
  }
  .rpa-box-section .info-box-row .info-box .icon {
    margin-bottom: 13px;
    width: 110px;
  }

  .devops-section.devops-1 .content {
    padding-right: 0;
  }
  .devops-section.devops-2 .content {
    padding-left: 0;
    padding-top: 40px;
  }

  .erp-up .image {
    padding: 0;
  }
  .erp-up.erp-1 .content {
    padding-right: 100px;
    padding-top: 110px;
  }
  .erp-up.erp-2 .content {
    padding-left: 100px;
    padding-top: 65px;
  }
  .erp-up.erp-2 .image {
    margin-top: 50px;
  }
  .erp-up.erp-3 .content {
    padding-right: 100px;
    padding-top: 40px;
  }

  .mob-app-dev-section-3 .grid-ul {
    justify-content: space-between;
  }
  .mob-app-dev-section-2 .grid-ul li {
    margin-right: 19px;
    width: 30%;
  }
  .mob-app-dev-section-3 .grid-ul li {
    width: 46%;
  }
  .mob-app-dev-section-3 .info-box-row .shape-box .info-box {
    padding: 0px 25px 0px 25px;
  }
  .mob-app-dev-section-3 .info-box h3 {
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 13px;
  }
  .mob-app-dev-section-3 .info-box-row .shape-box .number {
    font-size: 120px;
  }

  .mob-app-dev-section-4 .info-box-row .shape-box .info-box {
    padding: 0 20px 0px 20px;
  }

  .microsoft-solutions-section.microsoft-solutions-3 .content {
    padding-left: 70px;
    padding-top: 100px;
  }
  .microsoft-solutions-section.microsoft-solutions-4 .content {
    padding-right: 70px;
    padding-top: 80px;
  }
  .microsoft-solutions-section.microsoft-solutions-5 .content {
    padding-left: 70px;
    padding-top: 100px;
  }

  .microsoft-azure-section .info-box-row .shape-box .info-box {
    padding: 55px 20px 0px 20px;
  }
  .microsoft-azure-section .info-box h3 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .microsoft-protect-section .grid-ul {
    justify-content: space-between;
  }
  .microsoft-protect-section .grid-ul li {
    margin-right: 0;
    width: 47%;
  }
  .microsoft-grid-section-1 .grid-ul li {
    margin-right: 15px;
    width: 31%;
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    background: #22566b;
    padding: 100px 30px 0;
    position: fixed;
    top: 0;
    left: -500px;
    max-width: calc(100vw - 200px);
    width: 100%;
    height: 100vh;
    display: block;
    transition: 0.5s;
    z-index: 4;
  }
  .site-header .sub-menu{
    position: unset;
    border: 0;
    background: transparent;
    color: #fff;
    width: 100%;
  }

  .site-header .sub-menu li,.site-header .nav-item:hover .sub-menu li{
    border-bottom: 0;
  }
  .site-header .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }
  .site-header .navbar .navbar-nav .nav-item {
    margin-right: 0;
  }
  .site-header .navbar .navbar-nav .lang-drop .select-lang .select-flag {
    margin-left: 9px;
    margin-right: 10px;
    margin-top: -1px;
  }
  .site-header .navbar .navbar-nav .lang-drop .select-lang {
    margin: 8px 0 0 0;
    font-size: 20px;
    color: white;
  }
  .site-header .navbar .navbar-nav .lang-drop .select-flag {
    width: 30px;
  }
  .navbar-collapse.child-active {
    left: 0;
    display: block;
  }
  .hero-banner-section .banner-content {
    text-align: center;
  }
  .hero-banner-section .banner-content h1 {
    font-size: 45px;
  }
  .hero-banner-section .banner-content .button-box {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .hero-banner-section .banner-content .button-box .white-btn {
    font-size: 16px;
    line-height: 30px;
  }
  .hero-banner-section .banner-content .button-box .plain-btn {
    font-size: 16px;
    line-height: 30px;
  }
  .hero-banner-section {
    padding-top: 100px;
    padding-bottom: 110px;
  }
  .home-about-section .content {
    padding-top: 80px;
  }
  .home-about-section .content p {
    margin-top: 20px;
    font-size: 16px;
    color: #707070;
    line-height: 28px;
  }
  .home-about-section .image {
    padding: 0;
  }

  .home-about-section .info-box-row .shape-box {
    margin-bottom: 30px;
  }
  .home-about-section .info-box-row .info-box .icon {
    margin-bottom: 15px;
    width: 100px;
  }
  .hero-banner-section .banner-content p {
    font-size: 16px;
    margin-top: 15px;
  }

  .content .heading {
    font-size: 28px;
  }
  .eap-program-section .heading {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .why-us-section-1 .content h1 {
    color: #089b93;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .why-us-section-1 .content {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
  }

  .home-service-section .heading h1 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .home-contact-section .contact-box {
    display: block;
  }
  .home-contact-section .contact-box .left {
    width: 100%;
    display: none;
  }
  .home-contact-section .right {
    border-radius: 30px 30px 30px 30px;
    padding: 40px 30px 40px 30px;
    width: 100%;
  }
  .site-footer .logo-text {
    padding-right: 0;
  }
  .site-footer .contact-block {
    padding-left: 20px;
  }
  .about-section-3 .image {
    padding: 0;
  }

  .about-page .home-about-section {
    padding-top: 0;
  }
  .about-page .home-about-section .content {
    padding-top: 85px;
  }
  .about-page .home-about-section .image {
    padding: 0;
    margin-top: 50px;
  }
  .about-section-3 .image {
    padding-top: 30px;
    padding: 0;
  }
  .about-section-3 .content .points-ul li {
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 23px;
    background-size: 15px;
  }
  .about-section-3 .content {
    padding-top: 30px;
  }
  .about-page .home-about-section-2 .order {
    order: 1;
  }
  .why-us-about-section-2 .image {
    padding: 0;
    padding-top: 30px;
  }
  .why-us-about-section-2 .content p {
    margin-top: 0;
  }
  .about-section-3 {
    padding-top: 0;
  }
  .why-us-about-section-2 {
    padding-bottom: 0px;
  }
  .about-section-3 {
    padding-top: 50px;
  }
  .why-us-section-3 .order {
    order: 1;
  }
  .eap-section-1 .content {
    padding-right: 0;
    padding-top: 15px;
  }
  .eap-section-2 .content {
    padding-left: 0;
    padding-top: 15px;
  }
  .eap-section-up .content p {
    font-size: 16px;
    line-height: 28px;
  }
  .eap-section-up .image {
    text-align: center;
  }
  .eap-section-1 .order {
    order: 1;
  }
  .eap-section-up {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .eap-section-up .content h1 {
    color: #089b93;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .eap-program-section .heading {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .eap-program-section .program-box .left img {
    width: 80px;
    margin-right: 0;
  }

  .solutions-1 .content {
    padding-right: 0;
    padding-top: 0;
    margin-top: 10px;
  }
  .solutions-1 .image {
    text-align: center;
  }

  .solutions-box-section .info-box h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .solutions-2 .content {
    padding-left: 0;
    padding-top: 30px;
  }
  .solutions-2 .image {
    text-align: center;
  }

  .solutions-box-section-2 .info-box-row .shape-box {
    position: relative;
    margin-bottom: 40px;
  }
  .solutions-box-section-2 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 130px;
  }
  .solutions-box-section-2 .info-box h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #15243c;
    font-weight: 600;
  }

  .rpa-1 .content {
    padding-right: 0;
    padding-top: 0;
  }

  .rpa-up .content {
    margin-top: 0;
  }
  .rpa-1 .image {
    margin-top: 80px;
    text-align: center;
  }
  .rpa-up.solutions-3 .content {
    margin-top: 40px;
    padding-right: 0;
  }

  .rpa-up.solutions-2 .order {
    order: 1;
  }
  .rpa-up.solutions-3 .image {
    text-align: center;
  }
  .rpa-box-section .grid-ul li {
    margin-right: 54px;
    width: 35%;
  }

  .devops-section.devops-1 .content {
    padding-right: 0;
    margin-top: 0;
  }
  .devops-section.devops-2 .content {
    padding-left: 0;
    padding-top: 0;
  }
  .devops-section .heading,
  .devops-tools-section .heading {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .devops-section .content h1 {
    font-size: 24px;
  }
  .devops-tools-section .logo-box img {
    max-width: 100%;
  }
  .devops-tools-section .content {
    padding-left: 0;
  }

  .erp-up .heading {
    font-size: 30px;
  }
  .erp-up.erp-1 .content {
    padding-right: 50px;
    padding-top: 60px;
  }
  .erp-up.erp-2 .content {
    padding-left: 50px;
    padding-top: 40px;
  }
  .erp-up.erp-3 .content {
    padding-right: 50px;
    padding-top: 20px;
  }
  .erp-help-section .help-box {
    padding: 0px;
  }

  .mob-app-dev-section .content {
    margin-top: 0;
  }

  .mob-app-dev-section-2 .grid-ul {
    margin: 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  .mob-app-dev-section-2 .grid-ul li {
    margin-right: 30px;
    width: 45%;
    margin-bottom: 60px;
  }

  .mob-app-dev-section-3 .grid-ul li {
    width: 48%;
  }
  .mob-app-dev-section-3 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 120px;
  }
  .mob-app-dev-section-3 .info-box h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .mob-app-dev-section-3 .info-box-row .info-box p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0;
    color: #707070;
  }
  .mob-app-dev-section-3 .info-box-row .shape-box .number {
    font-size: 100px;
  }

  .mob-app-dev-section-4 .grid-ul li {
    width: 44%;
  }
  .mob-app-dev-section-4 .info-box h3 {
    font-weight: 600;
  }

  .microsoft-azure-section .grid-ul li {
    margin-right: 15px;
    width: 30%;
  }
  .microsoft-azure-section .info-box h3 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .microsoft-azure-section .info-box-row .shape-box .info-box {
    padding: 55px 10px 0px 10px;
  }
  .microsoft-azure-section .info-box-row .info-box p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    color: #ffffff;
  }

  .microsoft-solutions-section.microsoft-solutions-1 .content {
    padding-right: 0;
    padding-top: 15px;
  }
  .microsoft-solutions-section .image {
    text-align: center;
  }
  .microsoft-solutions-section.microsoft-solutions-2 .content {
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .microsoft-cta-section .image {
    text-align: center;
    margin-top: 30px;
  }
  .microsoft-tabs .tab-box {
    padding: 10px 10px;
    max-width: 182px;
    border-radius: 15px;
    margin-right: 30px;
  }
  .microsoft-tabs .tab-box.nav-pills .nav-link {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .microsoft-solutions-section.microsoft-solutions-3 .content {
    padding-left: 0;
    padding-top: 20px;
  }
  .microsoft-solutions-section.microsoft-solutions-4 .content {
    padding-right: 0;
    padding-top: 40px;
  }
  .microsoft-solutions-section.microsoft-solutions-5 .content {
    padding-left: 0;
    padding-top: 60px;
  }
  .microsoft-protect-section .info-box h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .microsoft-protect-section .info-box-row .info-box .icon {
    margin-bottom: 15px;
    width: 105px;
  }
  .microsoft-grid-section-1 .grid-ul {
    justify-content: space-between;
  }
  .microsoft-grid-section-1 .grid-ul li {
    margin-right: 15px;
    width: 46%;
    margin-bottom: 40px;
  }

  .microsoft-download-section .download {
    display: block;
    text-align: center;
  }
  .microsoft-download-section .download h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .microsoft-solutions-section.microsoft-solutions-2 .order {
    order: -1;
  }
}

@media screen and (max-width: 767px) {


  .site-footer .contact-block {
    padding-left: 0;
  }
  .site-footer .contact-block .heading {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .site-footer .language-block .heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .site-footer .logo-text p:last-child {
    margin-bottom: 30px;
  }
  .home-service-section {
    border-top-left-radius: 200px;
  }

  .home-about-section .info-box-row .info-box .icon {
    margin-bottom: 15px;
    width: 140px;
  }
  .home-about-section .info-box-row .info-box p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    min-height: 108px;
  }
  .home-about-section .info-box-row .info-box p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    min-height: 108px;
  }
  .home-about-section .info-box-row .info-box .link {
    bottom: 14%;
  }
  .about-page .home-about-section .content {
    padding-top: 50px;
  }

  .solutions-box-section .info-box-row .shape-box .shape {
    width: 100%;
  }
  .solutions-box-section .info-box-row .shape-box .info-box {
    padding: 0 15px 0px 15px;
  }
  .solutions-box-section .info-box-row .info-box .icon {
    margin-bottom: 0;
    width: 90px;
  }

  .solutions-box-section-2 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 90px;
  }
  .solutions-box-section-2 .info-box h3 {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #15243c;
    font-weight: 600;
  }

  .rpa-box-section .grid-ul {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .rpa-box-section .grid-ul li {
    margin-right: 27px;
    width: 43%;
  }
  .rpa-box-section .info-box-row .shape-box {
    margin-bottom: 40px;
  }
  .rpa-box-section {
    padding: 30px 0;
    background: #089b93;
    margin-top: 60px;
  }

  .devops-section .heading,
  .devops-tools-section .heading {
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 40px;
  }
  .devops-section.devops-1 .image {
    text-align: center;
  }
  .devops-section.devops-2 .image {
    text-align: center;
  }
  .devops-tools-section .logo-box img {
    max-width: 280px;
  }
  .devops-section.devops-2 {
    margin-top: 40px;
  }
  .devops-section.devops-2 .order {
    order: -1;
  }

  .erp-up.erp-2 .order {
    order: 1;
  }
  .erp-up.erp-1 .content {
    padding-right: 0;
    padding-top: 0;
  }
  .erp-up .heading {
    font-size: 27px;
    line-height: 40px;
  }
  .erp-up .image {
    padding: 0;
    text-align: center;
  }
  .erp-up.erp-2 .content {
    padding-left: 0;
    padding-top: 35px;
  }
  .erp-up.erp-3 .content {
    padding-right: 0;
    padding-top: 20px;
  }

  .mob-app-dev-section-2 .grid-ul {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .mob-app-dev-section-2 .grid-ul li {
    margin-right: 0;
    width: 60%;
    margin-bottom: 60px;
  }
  .mob-app-dev-section-2 {
    background: #089b93;
    padding: 50px 0;
    margin-top: 60px;
  }
  .mob-app-dev-section-3 .grid-ul {
    justify-content: center;
  }
  .mob-app-dev-section-3 .grid-ul li {
    width: 69%;
  }

  .mob-app-dev-section-4 .info-box h3 {
    font-size: 17px;
    margin-top: 20px;
  }
  .mob-app-dev-section-4 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 85px;
  }
  .mob-app-dev-section-4 .info-box-row .shape-box .info-box {
    padding: 0 15px 0px 15px;
  }
  .mob-app-dev-section-4 {
    padding-top: 40px;
  }

  .microsoft-azure-section .grid-ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
  .microsoft-azure-section .grid-ul li {
    margin-right: 0;
    width: 47%;
    margin-bottom: 45px;
  }
  .microsoft-grid-section-1 .grid-ul li {
    margin-right: 0;
    width: 48%;
    margin-bottom: 40px;
  }
  .microsoft-grid-section-1 .info-box-row .info-box .icon {
    margin-bottom: 15px;
    width: 95px;
  }
  .microsoft-grid-section-1 .info-box h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .microsoft-grid-section-1 .info-box-row .info-box p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: #707070;
  }
  .microsoft-solutions-section.microsoft-solutions-4 .order {
    order: 1;
  }
  .microsoft-protect-section .grid-ul {
    justify-content: center;
  }
  .microsoft-protect-section .grid-ul li {
    margin-right: 0;
    width: 71%;
    margin-bottom: 40px;
  }
  .microsoft-page .green-big-heading {
    margin-bottom: 40px;
  }
  .microsoft-accordian-section .accordion .accordion-item .accordion-button {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .home-service-section {
    border-top-left-radius: 100px;
  }

  .site-footer .logo-text p:last-child {
    margin-bottom: 15px;
  }
  .hero-banner-section .banner-content .button-box {
    display: block;
  }
  .hero-banner-section .banner-content .button-box .btn {
    display: block;
  }
  .hero-banner-section .banner-content .button-box .white-btn {
    margin-bottom: 15px;
  }
  .home-service-section .heading span {
    font-size: 18px;
  }
  .home-service-section .heading h1 {
    font-size: 26px;
  }
  .eap-program-section .program-box {
    display: block;
    margin-bottom: 30px;
  }
  .eap-program-section .program-box .right {
    margin-top: 30px;
  }

  .solutions-box-section {
    padding: 40px 0;
    background: #089b93;
    padding-bottom: 20px;
  }
  .solutions-box-section .info-box-row .shape-box .shape {
    display: none;
  }
  .solutions-box-section .info-box-row .col-sm-6 {
    width: 50%;
    margin-bottom: 60px;
  }
  .solutions-box-section .info-box-row .info-box .icon {
    margin-bottom: 0;
    width: 90px;
    margin-top: -40px;
  }
  .solutions-box-section .info-box-row .shape-box .info-box {
    position: relative;
    padding: 0 10px 0px 10px;
  }
  .solutions-box-section .info-box-row .info-box ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .solutions-box-section .info-box-row .shape-box {
    position: relative;
    height: 100%;
    background: #ffffff;
    border-radius: 30px;
  }

  .solutions-box-section-2 .info-box-row .shape-box .shape {
    display: none;
  }
  .solutions-box-section-2 .info-box-row .col-sm-6 {
    width: 50%;
    margin-bottom: 60px;
  }
  .solutions-box-section-2 .info-box-row .info-box .icon {
    margin-bottom: 0;
    width: 90px;
    margin-top: -40px;
  }
  .solutions-box-section-2 .info-box-row .shape-box .info-box {
    position: relative;
    padding: 0 10px 0px 10px;
  }
  .solutions-box-section-2 .info-box-row .info-box ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .solutions-box-section-2 .info-box-row .shape-box {
    position: relative;
    height: 100%;
    border-radius: 30px;
    background-color: #089b93;
  }

  .rpa-box-section .heading {
    font-size: 31px;
    margin-bottom: 40px;
  }
  .rpa-box-section .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 90px;
  }

  .microsoft-grid-section-1 .grid-ul {
    justify-content: center;
  }
  .microsoft-grid-section-1 .grid-ul li {
    width: 54%;
  }
  .navbar-collapse {

    max-width: calc(100vw - 90px);
  }
}
@media screen and (max-width: 500px) {
  .mob-app-dev-section-2 .grid-ul li {
    margin-right: 0;
    width: 80%;
    margin-bottom: 60px;
  }
  .mob-app-dev-section-3 .grid-ul li {
    width: 83%;
  }
  .microsoft-solutions-section .content h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .microsoft-grid-section-1 .grid-ul {
    justify-content: center;
  }
  .microsoft-download-section .download h1 {
    font-size: 18px;
  }
  .microsoft-cta-section {
    padding: 45px 0;
  }
  .microsoft-tabs .tab-box {
    margin-right: 15px;
  }
  .microsoft-tabs .tab-data h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .microsoft-tabs .tab-data p {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
  }
  .site-header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }
  .site-footer .coypright {
    margin-top: 30px;
  }
}

@media screen and (max-width: 470px) {
  .mob-app-dev-section-4 .grid-ul li {
    width: 70%;
  }
  .mob-app-dev-section-4 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 100px;
  }
  .mob-app-dev-section-4 .info-box h3 {
    font-size: 22px;
    margin-top: 20px;
  }

  .microsoft-grid-section-1 .grid-ul li {
    width: 60%;
  }
  .microsoft-protect-section .grid-ul li {
    width: 80%;
  }
  .microsoft-tabs {
    display: block;
  }
  .microsoft-tabs .tab-box {
    padding: 10px 18px;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .microsoft-tabs .tab-box.nav-pills .nav-link {
    padding: 8px 0;
  }
}

@media screen and (max-width: 430px) {
  .home-about-section .content {
    padding-top: 70px;
  }
  .home-about-section .image {
    padding: 0;
    margin-top: 50px;
  }
  .home-about-section .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 90px;
  }
  .home-about-section .info-box-row .shape-box .info-box {
    padding: 10px 40px 0px 39px;
  }
  .home-about-section .info-box-row .info-box .link {
    bottom: 11%;
  }
  .why-us-section-1 .content p {
    font-size: 16px;
    line-height: 28px;
  }

  .solutions-box-section .info-box-row .col-sm-6 {
    width: 100%;
    margin-bottom: 60px;
  }
  .solutions-box-section-2 .info-box-row .col-sm-6 {
    width: 100%;
    margin-bottom: 60px;
  }

  .rpa-box-section .grid-ul {
    padding-left: 0;
  }
  .rpa-box-section .grid-ul li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 25px;
  }
  .rpa-box-section .info-box-row .shape-box {
    margin-bottom: 40px;
    background: white;
    padding: 25px 0px;
    height: 100%;
    border-radius: 28px;
  }
  .rpa-box-section .info-box-row .shape-box .shape {
    width: 100%;
    display: none;
  }
  .rpa-box-section .info-box-row .shape-box .info-box {
    position: relative;
  }

  .erp-up .heading {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .home-contact-section {
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .home-contact-section .right .contact-btn {
    width: 100%;
  }
  .microsoft-azure-section {
    padding: 40px 0;
  }
  .microsoft-azure-section .grid-ul {
    justify-content: center;
  }
  .microsoft-azure-section .grid-ul li {
    width: 65%;
    margin-bottom: 45px;
  }
  .microsoft-grid-section-1 .grid-ul li {
    width: 63%;
  }

  .microsoft-protect-section .grid-ul li {
    width: 85%;
  }
  .microsoft-accordian-section
    .accordion
    .accordion-item
    .accordion-button::after {
    width: 19px;
    height: 17px;
    background-size: 17px;
  }
  .microsoft-azure-section .info-box h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero-banner h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 415px) {
  .mob-app-dev-section-3 .grid-ul li {
    width: 100%;
  }
  .mob-app-dev-section-4 .grid-ul li {
    width: 75%;
  }

  .microsoft-grid-section-1 .grid-ul li {
    width: 68%;
  }
}
@media screen and (max-width: 400px) {
  .microsoft-protect-section .grid-ul li {
    width: 90%;
  }
}
@media screen and (max-width: 380px) {
  .microsoft-grid-section-1 .grid-ul li {
    width: 72%;
  }
  .microsoft-tabs .tab-data h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-about-section .info-box h3 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .home-about-section .info-box-row .shape-box .info-box {
    padding: 10px 15px 0px 15px;
  }
  .home-about-section .info-box-row .info-box .link {
    bottom: 10%;
  }
  .mob-app-dev-section-2 .grid-ul li {
    margin-right: 0;
    width: 95%;
    margin-bottom: 40px;
  }
  .microsoft-grid-section-1 .grid-ul li {
    width: 78%;
  }
  .microsoft-protect-section .grid-ul li {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .mob-app-dev-section-3 .info-box-row .shape-box .info-box {
    padding: 0px 15px 0px 15px;
    top: 0;
  }
  .mob-app-dev-section-3 .info-box-row .info-box p {
    font-size: 14px;
    line-height: 24px;
  }
  .mob-app-dev-section-3 .info-box-row .info-box .icon {
    margin-bottom: 0px;
    width: 100px;
  }
  .mob-app-dev-section-3 .info-box-row .shape-box .number {
    font-size: 77px;
  }
  .mob-app-dev-section-4 .grid-ul li {
    width: 90%;
  }
  .microsoft-protect-section .info-box-row .shape-box .info-box {
    padding: 0 15px 0px 15px;
  }
  .microsoft-protect-section .info-box h3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 330px) {
  .microsoft-grid-section-1 .grid-ul li {
    width: 80%;
  }
  .microsoft-grid-section-1 .info-box-row .info-box .icon {
    margin-bottom: 10px;
    width: 80px;
  }
  .microsoft-azure-section .grid-ul li {
    width: 70%;
    margin-bottom: 45px;
  }
  .microsoft-azure-section .info-box h3 {
    font-size: 30px;
    margin-bottom: 9px;
  }
}
