* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}
.primary-color {
  color: #089b93;
}
.secondary-color {
  color: #a7c0df;
}
p {
  font-size: 18px;
  line-height: 32px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
  /* semi-bold */
}
.font-700 {
  font-weight: 700;
  /* bold */
}

/* Mobile Menu Button Start*/

.mobile-button {
  display: none;
  float: right;
  position: relative;
  background: transparent;
  cursor: pointer;
  width: 26px;
  height: 16px;
  -webkit-transition: all ease 0.238s;
  -moz-transition: all ease 0.238s;
  transition: all ease 0.238s;
  margin-top: 10px;
}

.mobile-button:before,
.mobile-button:after,
.mobile-button span {
  background-color: #22566b;
  -webkit-transition: all ease 0.238s;
  -moz-transition: all ease 0.238s;
  transition: all ease 0.238s;
}

.mobile-button:before,
.mobile-button:after {
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.mobile-button span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}

.mobile-button:before {
  -webkit-transform: translate3d(0, -7px, 0);
  -moz-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}

.mobile-button:after {
  -webkit-transform: translate3d(0, 7px, 0);
  -moz-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}

.mobile-button.active span {
  opacity: 0;
}

.mobile-button.active:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.mobile-button.active:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
#main-nav-mobi ul li:last-child {
  display: none;
}
#main-nav-mobi .closebtn {
  display: none;
}
@media only screen and (max-width: 991px) {
  .site-header .mobile-button {
    display: block;
  }
}
/* Mobile Menu Button End*/

/* Header Start */
.site-header .navbar {
  background: #ffffff;
  padding: 5px 0;
}
.site-header .navbar .navbar-brand .header-logo {
  width: 185px;
}
.site-header .navbar .navbar-nav .nav-item {
  margin-right: 9px;
  position: relative;
}
.site-header .navbar .navbar-nav .nav-item .nav-link {
  color: #a7c0df;
  font-size: 14px;
  text-transform: uppercase;
}
.site-header .navbar .navbar-nav .nav-item .nav-link.active {
  color: #089b93;
}
.site-header .navbar .navbar-nav .nav-item .nav-link:hover{
  color: #089b93;
}
.site-header .navbar .navbar-nav .lang-drop {
  position: relative;
  cursor: pointer;
}
.site-header .navbar .navbar-nav .lang-drop .select-lang {
  color: #a7c0df;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.site-header .navbar .navbar-nav .lang-drop .select-lang .select-flag {
  margin-left: 5px;
  margin-right: 8px;
  margin-top: -4px;
}
.site-header .navbar .navbar-nav .lang-drop .lang-ul {
  display: none;
  position: absolute;
  top: 44px;
  left: 2px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  padding: 5px;
  border-radius: 2px;
  width: 100px;
}
.site-header .navbar .navbar-nav .lang-drop .select-flag {
  width: 20px;
}
.site-header .navbar .navbar-nav .lang-drop .lang-ul .flag {
  display: flex;
  align-items: center;
}
.site-header .navbar .navbar-nav .lang-drop .lang-ul .flag .select-flag {
  margin-right: 10px;
}
.site-header .navbar .navbar-nav .lang-drop .lang-ul .flag .contryflag {
  font-size: 16px;
}
.site-header .sub-menu{
  display: none;
  position: absolute;
  left: 0;
    height: auto;
    opacity: 1;
    top: 100%;
    border: 1px solid #e9ecef;
    width: 240px;
    background: #fff;
    padding-left: 0;
}
.site-header .nav-item:hover .sub-menu{
  display: block;
  z-index: 1;
}
.site-header .nav-item:hover .sub-menu li{
  border-bottom: 1px solid #e9ecef;
}
.site-header .has-child a.child-arrow::after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  margin-left: 5px;
}
.site-header .sub-menu a{
  padding: 1em !important;
}
.site-header .menu-item-has-children a.arrow::after{
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  margin-left: 10px;
}
.site-header .menu-item-has-children{
  position: relative;
}
.site-header .menu-item-has-children ul{
  height: auto;
    overflow: visible;
    opacity:0;
    left: 100%;
    display: none;
    top: 0;
}
.site-header .menu-item-has-children:hover ul{
  display: block;
  opacity: 1;
}
/* Header End */

/* ===============================   Home Page Start   =============================== */
/* Hero Banner Start */
.hero-banner-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 170px;
}
.hero-banner-section.home-banner {
  background-image: url("../images/banners/home-banner.jpg");
}
.hero-banner-section .banner-content h1 {
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 4px 4px #033c39;
}
.hero-banner-section .banner-content h1 span {
  color: #089b93;
  text-shadow: 0px 4px 4px #033c39;
}
.hero-banner-section .banner-content p {
  color: #ffffff;
  font-size: 18px;
  margin-top: 22px;
}
.hero-banner-section .banner-content .button-box {
  display: flex;
  grid-gap: 30px;
  margin-top: 63px;
  align-items: center;
}
.hero-banner-section .banner-content .button-box .white-btn {
  background: #ffffff;
  color: #089b93;
  font-size: 18px;
  padding: 7px 34px;
  border-radius: 50px;
  line-height: 39px;
}
.hero-banner-section .banner-content .button-box .plain-btn {
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  padding: 7px 34px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  line-height: 39px;
}
/* Hero Banner End */

/* Home About Section Start */
.heading-border span {
  height: 5px;
  background: #089b93;
  display: inline-block;
  border-radius: 50px;
}
.heading-border span:nth-child(1) {
  width: 100px;
  margin-right: 10px;
}
.heading-border span:nth-child(2) {
  width: 28px;
  margin-right: 12px;
}
.heading-border span:nth-child(3) {
  width: 28px;
}
.home-about-section {
  padding-bottom: 60px;
}
.home-about-section .content {
  padding-top: 195px;
}
.content .heading {
  color: #a7c0df;
  font-size: 38px;
  margin-bottom: 0;
}
.home-about-section .content p {
  margin-top: 25px;
  font-size: 16px;
  color: #707070;
  line-height: 31px;
}
.home-about-section .content .btn {
  background: #089b93;
  border-radius: 50px;
  color: #ffffff;
  padding: 13px 40px;
  font-size: 18px;
  margin-top: 25px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
}
.home-about-section .image {
  padding: 50px;
}

.home-about-section .info-box-row {
  margin-top: 80px;
}
.home-about-section .info-box-row .shape-box .shape {
  width: 100%;
  position: relative;
}
.home-about-section .info-box-row .shape-box .info-box {
  position: absolute;
  top: 68%;
  left: 50%;
  height: 100%;
  width: 100%;
  padding: 0 40px 0px 40px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.home-about-section .info-box-row .info-box .icon {
  margin-bottom: 15px;
}
.home-about-section .info-box h3 {
  font-size: 26px;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 30px;
}
.home-about-section .info-box-row .info-box p {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 0;
  min-height: 140px;
}
.home-about-section .info-box-row .info-box .link {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 13%;
  margin: 0 auto;
  transform: translate(-50%, 0);
}
.home-about-section .info-box-row .info-box-row {
  margin-top: 80px;
}
/* Home About Section End */

/* Home Service Section Start */
.home-service-section {
  background: #089b93;
  padding-top: 85px;
  padding-bottom: 100px;
}
.home-service-section .heading {
  text-align: center;
}
.home-service-section .heading span {
  font-size: 22px;
  color: #ffffff;
}
.home-service-section .heading h1 {
  font-size: 38px;
  color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.home-service-section {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  border-top-left-radius: 350px;
}
.home-service-section .owl-carousel .owl-stage {
  padding-left: 0 !important;
}
.home-service-section .owl-carousel .owl-stage-outer {
  overflow: unset;
}
.home-service-section .owl-carousel .owl-nav .owl-next,
.home-service-section .owl-carousel .owl-nav .owl-next,
.home-service-section .owl-carousel .owl-nav .owl-prev {
  background: #ffffff;
  height: 55px;
  width: 55px;
  transform: rotate(45deg);
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  color: #089b93;
}
.home-service-section .owl-carousel .owl-nav .owl-next {
  margin-left: 35px;
}
.home-service-section .owl-carousel .owl-nav .owl-next span {
  transform: rotate(316deg);
  font-size: 34px;
  padding: 0px 6px 0px 9px;
}
.home-service-section .owl-carousel .owl-nav .owl-prev span {
  transform: rotate(315deg);
  font-size: 34px;
  padding: 0 7px 0px 0px;
}
.home-service-section .owl-carousel .owl-nav .owl-next:focus,
.home-service-section .owl-carousel .owl-nav .owl-prev:focus {
  outline: 0;
}
.home-service-section .owl-carousel .carousel-item {
  display: block;
}
.home-service-section .owl-theme .owl-nav .disabled {
  opacity: 1;
  cursor: default;
}
.home-service-section .owl-theme .owl-nav {
  margin-top: 30px;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
}
.home-service-section .owl-theme .owl-nav i {
  transform: rotate(133deg);
  font-size: 33px;
  padding: 0px 10px 6px 13px;
}
.home-service-section .owl-carousel .service-box {
  background: #ffffff;
  padding: 47px 47px 32px 27px;
  border-radius: 30px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
}
.home-service-section .owl-carousel .service-box img {
  width: 80px;
}
.home-service-section .owl-carousel .service-box h5 {
  color: #a7c0df;
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 10px 0;
  min-height: 48px;
}
.home-service-section .owl-carousel .service-box p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 25px;
  line-height: 24px;
}
.home-service-section .owl-carousel .service-box .link {
  background: #089b93;
  height: 47px;
  width: 47px;
  transform: rotate(45deg);
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  color: #ffffff;
}
.home-service-section .owl-carousel .service-box .link i {
  transform: rotate(133deg);
  font-size: 33px;
  padding: 0px 10px 6px 13px;
}

/* Home Service Section End */

/* Home Technologies Section Start */
.home-tech-section {
  position: relative;
  padding: 80px 0;
}
.home-tech-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../images/background/print-bg.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: -1;
}
.home-tech-section .tech-box {
  position: relative;
  margin-bottom: 35px;
}
.home-tech-section .heading {
  color: #a7c0df;
  font-size: 38px;
  text-align: center;
  margin-bottom: 60px;
}
.home-tech-section .tech-box .tech-img {
  border-radius: 28px;
  width: 100%;
}
.home-tech-section .tech-box h5 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}
/* Home Technologies Section End */

/* Home Client Section Start */
.home-client-section {
  margin-top: 70px;
}
.home-client-section .heading {
  text-align: center;
  color: #089b93;
  font-size: 38px;
  margin-bottom: 39px;
}
.home-client-section #owl-clients .owl-nav {
  text-align: right;
  margin-top: 30px;
}
.home-client-section #owl-clients .owl-nav .owl-prev {
  background: #089b93;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  transform: rotate(45deg);
  margin-right: 40px;
}
.home-client-section #owl-clients .owl-nav .owl-prev span {
  transform: rotate(316deg);
  font-size: 40px;
  padding-right: 10px;
  color: #ffffff;
}
.home-client-section #owl-clients .owl-nav .owl-next {
  background: #089b93;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  transform: rotate(45deg);
}
.home-client-section #owl-clients .owl-nav .owl-next span {
  transform: rotate(316deg);
  font-size: 34px;
  padding-left: 10px;
  color: #ffffff;
}
.home-client-section #owl-clients .item img {
  /* border: 1px solid #089b93; */
  width: 250px;
  /* text-align: center; */
  margin: 0 auto;
}
/* Home Client Section End */

/* Home Contact Section Start */
.home-contact-section {
  margin-bottom: 80px;
  margin-top: 80px;
}
.home-contact-section .contact-box {
  display: flex;
  height: 100%;
}
.home-contact-section .contact-box .left {
  width: 40%;
}
.home-contact-section .contact-box .left img {
  width: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
}

.home-contact-section .contact-box .right .heading {
  font-size: 31px;
  font-weight: 600;
  color: #ffffff;
}
.home-contact-section .right {
  background: #089b93;
  border-radius: 0 30px 30px 0;
  padding: 55px 55px 45px 55px;
  width: 60%;
}

/* Home Contact Section End */
.home-contact-section .right .group {
  position: relative;
  margin-top: 30px;
}
.home-contact-section .right .message-bar {
  margin-top: 65px;
  margin-bottom: 40px;
}
.home-contact-section .right textarea {
  resize: none;
}
.home-contact-section .right input,
.home-contact-section .right textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
}
.home-contact-section .right input:focus,
.home-contact-section .right textarea:focus {
  outline: none;
}
.home-contact-section .right input:focus ~ label,
.home-contact-section .right input:valid ~ label,
.home-contact-section .right textarea:focus ~ label,
.home-contact-section .right textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #ffffff;
}
.home-contact-section .right input:focus ~ .bar:before,
.home-contact-section .right textarea:focus ~ .bar:before {
  width: 100%;
}
.home-contact-section .right input[type="password"] {
  letter-spacing: 0.3em;
}
.home-contact-section .right label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.home-contact-section .right .bar {
  position: relative;
  display: block;
  width: 100%;
}
.home-contact-section .right .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #ffffff;
  transition: 300ms ease all;
  left: 0%;
}
.home-contact-section .right .contact-btn {
  color: #a7c0df;
  padding: 9px 46px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 18px;
}
/* ===============================   Home Page End     =============================== */

/* Footer Start */
.site-footer {
  background: #313030;
  padding-top: 60px;
}
.site-footer .footer-logo {
  margin-bottom: 25px;
  margin-left: 0;
}
.site-footer .logo-text {
  padding-right: 100px;
}
.site-footer .logo-text p {
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
}
.site-footer .contact-block {
  padding-left: 60px;
}
.site-footer .contact-block .heading {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.site-footer .contact-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-footer .contact-block ul li {
  margin-bottom: 20px;
}
.site-footer .contact-block ul li h6 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 6px;
}
.site-footer .contact-block ul li a {
  color: #ffffff;
  font-size: 14px;
}
.site-footer .contact-block ul li a:hover {
  color: #089b93;
}
.site-footer .language-block .heading {
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}
.site-footer .language-block .language-ul {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 15px;
  margin-bottom: 25px;
}
.site-footer .language-block .language-ul li .btn {
  padding: 1px 15px;
  border-radius: 50px;
}
.site-footer .language-block .language-ul li .english {
  background: #089b93;
  color: #ffffff;
  font-size: 12px;
  border: 3px solid transparent;
}
.site-footer .language-block .language-ul li .arabic {
  border: 3px solid #089b93;
  color: #ffffff;
  font-size: 12px;
}
.site-footer .language-block .social-ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.site-footer .language-block .social-ul li {
  margin-right: 18px;
}
/* .site-footer .language-block .social-ul li:last-child{
  margin-right: 0px;
} */
.site-footer .coypright {
  text-align: center;
  padding: 20px 0;
  background: #000000;
  margin-top: 60px;
}
.site-footer .coypright h6 {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
}
/* Footer End */

/* ===============================   About Page Start     =============================== */
/* About Section 3 Start */
.about-page .home-about-section .content {
  padding-top: 180px;
}
.about-page .home-about-section {
  padding-top: 60px;
  padding-bottom: 0;
}
.about-page .home-about-section-2 .order {
  order: 0;
}
.about-section-3 {
  padding-top: 0px;
}
.about-section-3 .content {
  padding-top: 160px;
}

.about-section-3 .content p {
  margin-top: 63px;
  font-size: 26px;
  color: #707070;
  line-height: 35px;
}
.about-section-3 .image {
  padding-top: 30px;
  padding: 50px;
}
.about-section-3 .content .points-ul {
  margin-top: 30px;
  padding-left: 0;
}
.about-section-3 .content .points-ul li {
  font-size: 16px;
  color: #707070;
  background-image: url("../images/icons/check-circle.png");
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 28px;
  margin-bottom: 16px;
  background-size: 18px;
  font-weight: 600;
}
.about-section-3 .content .points-ul li:last-child {
  margin-bottom: 0;
}
/* ===============================   About Page End     =============================== */

/* ===============================   Why Us Page End     =============================== */
/* Why Us Section 1 Start */
.why-us-section-1 .content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 28px;
}
.why-us-section-1 .content h1 {
  color: #089b93;
  font-size: 45px;
  margin-bottom: 20px;
}
.why-us-section-1 .content p {
  font-size: 22px;
  color: #707070;
  margin: 0;
  font-weight: 600;
  line-height: 32px;
}
/* Why Us Section 1 End */

/* Why Us Section 2 Start */
.why-us-about-section-2 {
  padding-bottom: 80px;
}
.why-us-about-section-2 .content {
  padding-top: 95px;
}
.why-us-about-section-2 .content h1 {
  color: #a7c0df;
  font-size: 40px;
}
.why-us-about-section-2 .content p {
  margin-top: 54px;
  font-size: 16px;
  color: #707070;
  line-height: 31px;
}

.why-us-about-section-2 .image {
  padding: 50px;
  padding-top: 30px;
}
.why-us-section-3 .order {
  order: 0;
}
/* Why Us Section 2 End */

/* Why Us Section 3 Start */
.why-us-section-3 .content {
  padding-top: 111px;
}
.why-us-section-3 .content h1 {
  color: #089b93;
}
.why-us-section-3 .section-heading {
  font-size: 35px;
  color: #089b93;
}
/* Why Us Section 3 End */
/* ===============================   Why Us Page End     =============================== */

/* ===============================  Enterprise Assurance Program Page Start     =============================== */
/* eap Section 1 Start */
.eap-section-up {
  margin-top: 80px;
  margin-bottom: 80px;
}
.eap-section-up .content {
  margin-bottom: 28px;
}
.eap-section-up .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 28px;
  font-weight: 600;
}
.eap-section-up .content p {
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 32px;
}
/* eap Section 1 End */

/* eap Section 2 Start */

.eap-section-1 .content {
  padding-right: 100px;
  padding-top: 50px;
}
.eap-section-1 .order {
  order: 0;
}
.eap-section-2 .content {
  padding-left: 100px;
  padding-top: 50px;
}
/* eap Section 2 End */

/* eap Program Section Start */
.eap-program-section {
  padding-top: 80px;
  padding-bottom: 70px;
  background: #089b93;
}
.eap-program-section .heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
}
.eap-program-section .program-box {
  display: flex;
  margin-bottom: 30px;
}
.eap-program-section .program-box .left img {
  width: 80px;
  margin-right: 28px;
}
.eap-program-section .program-box .right h5 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  width: 80%;
}
.eap-program-section .program-box .right p {
  font-size: 16px;
  color: #efdddd;
  margin-bottom: 20px;
  line-height: 29px;
}
/* eap Program Section End */

/* ===============================  Enterprise Assurance Program Page End     =============================== */

/* ===============================  solutions Page Start     =============================== */
/* solutions Section 1 Start */
.solutions-up {
  margin-top: 80px;
}
.solutions-up .content {
  margin-top: 35px;
}
.solutions-up .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.solutions-up .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  font-weight: 600;
  margin-bottom: 18px;
}
/* solutions Section 1 End */

/* solutions Section 2 Start */
.solutions-up.solutions-1 {
  margin-bottom: 80px;
}
.solutions-1 .content {
  padding-right: 100px;
  padding-top: 50px;
}
.solutions-2 .content {
  padding-left: 100px;
  padding-top: 50px;
}
.solutions-box-section {
  padding: 80px 0;
  background: #089b93;
}
.solutions-box-section .info-box-row {
  margin-top: 80px;
}
.solutions-box-section .info-box-row .shape-box {
  margin-bottom: 80px;
}
.solutions-box-section .info-box-row .shape-box .shape {
  width: auto;
}
.solutions-box-section .info-box-row .shape-box {
  position: relative;
}
.solutions-box-section .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 40px 0px 15px;
}
.solutions-box-section .info-box-row .info-box .icon {
  margin-bottom: 15px;
}
.solutions-box-section .info-box h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #089b93;
  font-weight: 600;
  width: 75%;
}
.solutions-box-section .info-box-row .info-box p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  min-height: 140px;
}
.solutions-box-section .info-box-row .info-box ul {
  list-style-type: disc;
}
.solutions-box-section .info-box-row .info-box ul li {
  font-size: 16px;
}

.solutions-box-section-2 {
  padding-top: 80px;
}
.solutions-box-section-2 .info-box-row {
  margin-top: 80px;
}
.solutions-box-section-2 .info-box-row .shape-box .shape {
  width: 100%;
}
.solutions-box-section-2 .info-box-row .shape-box {
  position: relative;
}
.solutions-box-section-2 .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 40px 0px 15px;
}
.solutions-box-section-2 .info-box-row .info-box .icon {
  margin-bottom: 0px;
}
.solutions-box-section-2 .info-box h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #15243c;
  font-weight: 600;
}
.solutions-box-section-2 .info-box-row .info-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}

/* ===============================  solutions Page End     =============================== */

/* ===============================  RPA Page Start     =============================== */
/* rpa Section 1 Start */
.rpa-up {
  margin-top: 80px;
}
.rpa-up .content {
  margin-top: 35px;
}
.rpa-up .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.rpa-up .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  font-weight: 600;
  margin-bottom: 18px;
}

.rpa-up.solutions-1 {
  margin-bottom: 80px;
}
.rpa-1 .content {
  padding-right: 100px;
  padding-top: 50px;
}
.rpa-2 .content {
  padding-left: 100px;
  padding-top: 50px;
}
.rpa-up.solutions-3 .content {
  margin-top: 120px;
  padding-right: 100px;
}
.rpa-3 .content {
  padding-right: 100px;
  padding-top: 50px;
}
/* rpa Section 2 Start */

.rpa-box-section {
  padding: 80px 0;
  background: #089b93;
  margin-top: 80px;
}
.rpa-box-section .info-box-row {
  margin-top: 80px;
}
.rpa-box-section .info-box-row .shape-box {
  margin-bottom: 80px;
}
.rpa-box-section .info-box-row .shape-box .shape {
  width: 100%;
}
.rpa-box-section .info-box-row .shape-box {
  position: relative;
}
.rpa-box-section .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 15px 0px 15px;
  text-align: center;
}
.rpa-box-section .info-box-row .info-box .icon {
  margin-bottom: 15px;
}
.rpa-box-section .info-box h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #15243c;
  font-weight: 600;
  line-height: 28px;
}
.rpa-box-section .info-box-row .info-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #15243c;
}
.rpa-box-section .info-box-row .info-box ul {
  list-style-type: disc;
}
.rpa-box-section .info-box-row .info-box ul li {
  font-size: 16px;
}
.rpa-box-section .grid-ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rpa-box-section .grid-ul li {
  margin-right: 100px;
  width: 20%;
}
.rpa-box-section .heading {
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  max-width: 550px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 80px;
}
/* ===============================  RPA Page End     =============================== */

/* ===============================  erp Page Start     =============================== */
.erp-up .heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #089b93;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 900px;
  font-weight: 600;
}
.erp-up {
  margin-top: 80px;
}

.erp-up .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.erp-up .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  margin-bottom: 18px;
}
.erp-up .image {
  padding: 50px;
}

.erp-up.erp-1 .content {
  padding-right: 150px;
  padding-top: 150px;
}
.erp-up.erp-2 {
  margin-top: 20px;
}
.erp-up.erp-3 {
  margin-top: 20px;
  margin-bottom: 60px;
}
.erp-up.erp-2 .content {
  padding-left: 100px;
  padding-top: 120px;
}
.erp-up.erp-3 .content {
  padding-right: 100px;
  padding-top: 100px;
}
.erp-up.erp-3 .content .points-ul {
  margin: 0;
  padding: 0;
}
.erp-up.erp-3 .content .points-ul li {
  font-size: 16px;
  color: #707070;
  background-image: url("../images/icons/check-circle.png");
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 28px;
  margin-bottom: 15px;
  background-size: 18px;
  font-weight: 600;
}

/*  erp Help section start */
.erp-help-section {
  background: #089b93;
  padding: 80px 0;
}
.erp-help-section .heading {
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 80px;
}
.erp-help-section .help-box {
  text-align: center;
  padding: 0 25px;
}
.erp-help-section .help-box img {
  display: block;
  margin: 0 auto;
}
.erp-help-section .help-box img {
  display: block;
}
.erp-help-section .help-box h4 {
  color: #ffffff;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.erp-help-section .help-box p {
  font-size: 16px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 18px;
  color: #bfe5e3;
}
.erp-help-section .help-box .icon {
  width: 150px;
}
.erp-help-section .help-box .aero {
  width: 80px;
}
.erp-help-section .help-box.box-1 .icon {
  margin-top: 40px;
  margin-bottom: 40px;
}

.erp-help-section .help-box.box-2 .icon {
  margin-top: 40px;
  margin-bottom: 40px;
}
.erp-help-section .help-box.box-3 .icon {
  margin-top: 40px;
  margin-bottom: 30px;
}
/* erp Help section End */
/* ===============================  erp Page End     =============================== */

/* ===============================  Devops Page Start     =============================== */
.devops-section .heading,
.devops-tools-section .heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #089b93;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 900px;
  font-weight: 600;
}
.devops-section {
  margin-top: 80px;
}
.devops-section .content {
  margin-top: 35px;
}
.devops-section .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.devops-section .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  margin-bottom: 18px;
}
.devops-section.devops-1 .content {
  padding-right: 150px;
}
.devops-section.devops-2 .content {
  padding-left: 100px;
  padding-top: 120px;
}
.devops-tools-section {
  margin-top: 80px;
}
.devops-tools-section .content-row {
  margin-bottom: 80px;
}
.devops-tools-section .logo-box img {
  max-width: 300px;
}
.devops-tools-section .content {
  padding-left: 50px;
}
.devops-tools-section .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  margin-bottom: 18px;
}
/* ====================================  Devops Page End     =============================== */

/* ====================================  Mobile App Dev Page Start     =============================== */

.mob-app-dev-section {
  margin-top: 80px;
}
.mob-app-dev-section .content {
  margin-top: 75px;
}
.mob-app-dev-section .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.mob-app-dev-section .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  margin-bottom: 18px;
}

/* mob-app-dev-section-2 Start */

.mob-app-dev-section-2 {
  background: #089b93;
  padding: 80px 0;
  margin-top: 80px;
}
.mob-app-dev-section-2 .info-box-row {
  margin-top: 80px;
}
.mob-app-dev-section-2 .info-box-row .shape-box .shape {
  width: 100%;
}
.mob-app-dev-section-2 .info-box-row .shape-box {
  position: relative;
}
.mob-app-dev-section-2 .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 15px 0px 15px;
}
.mob-app-dev-section-2 .info-box-row .info-box .icon {
  margin-bottom: 0px;
}
.mob-app-dev-section-2 .info-box h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #089b93;
  font-weight: 600;
}
.mob-app-dev-section-2 .info-box-row .info-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #707070;
}
.mob-app-dev-section-2 .grid-ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mob-app-dev-section-2 .grid-ul li {
  margin-right: 58px;
  width: 26%;
}

/* mob-app-dev-section-2 End */

/* mob-app-dev-section-3 Start */
.mob-app-dev-section-3 {
  background: #089b93;
}
.mob-app-dev-section-3 .heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 900px;
  font-weight: 600;
}
.mob-app-dev-section-3 .info-box-row {
  margin-top: 0px;
}
.mob-app-dev-section-3 .info-box-row .shape-box .shape {
  width: 100%;
}
.mob-app-dev-section-3 .info-box-row .shape-box .number {
  position: absolute;
  top: 32px;
  right: 35px;
  font-size: 160px;
  color: #dbdbdb;
  margin: 0;
}
.mob-app-dev-section-3 .info-box-row .shape-box {
  position: relative;
  margin-bottom: 70px;
}
.mob-app-dev-section-3 .info-box-row .shape-box .info-box {
  position: absolute;
  top: 10px;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0px 40px 0px 40px;
}
.mob-app-dev-section-3 .info-box-row .info-box .icon {
  margin-bottom: 0px;
}
.mob-app-dev-section-3 .info-box h3 {
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 25px;
  color: #089b93;
  font-weight: 600;
}
.mob-app-dev-section-3 .info-box-row .info-box p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  color: #707070;
}
.mob-app-dev-section-3 .grid-ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.mob-app-dev-section-3 .grid-ul li {
  width: 36%;
}
/* mob-app-dev-section-3 End */

.mob-app-dev-section-4 .heading {
  font-size: 38px;
  text-transform: uppercase;
  color: #089b93;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 600;
}
.mob-app-dev-section-4 {
  padding-top: 80px;
}
.mob-app-dev-section-4 .info-box-row {
  margin-top: 80px;
}
.mob-app-dev-section-4 .info-box-row .shape-box .shape {
  width: 100%;
}
.mob-app-dev-section-4 .info-box-row .shape-box {
  position: relative;
  margin-bottom: 50px;
}
.mob-app-dev-section-4 .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 30px 0px 30px;
}
.mob-app-dev-section-4 .info-box-row .info-box .icon {
  margin-bottom: 0px;
}
.mob-app-dev-section-4 .info-box h3 {
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 600;
}

.mob-app-dev-section-4 .grid-ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.mob-app-dev-section-4 .grid-ul li {
  width: 30%;
}
/* ====================================  Mobile App Dev Page End     =============================== */

/* ==================================   Microsoft Solutions Page Start   =============================== */

.scale-business-heading{  font-size: 38px; color: #fff; text-align: center; margin: 0 auto; margin-bottom: 80px; max-width: 900px; font-weight: 600;}
.microsoft-page .green-big-heading {
  font-size: 38px;
  color: #089b93;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 900px;
  font-weight: 600;
}
.microsoft-solutions-section.microsoft-solutions-1 {
  margin: 80px 0;
}
.microsoft-solutions-section.microsoft-solutions-2 {
  margin-bottom: 80px;
}

.microsoft-solutions-section .content h1 {
  color: #089b93;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: 600;
}
.microsoft-solutions-section .content p {
  font-size: 16px;
  line-height: 31px;
  color: #707070;
  margin: 0;
  margin-bottom: 18px;
}
.microsoft-solutions-section.microsoft-solutions-1 .content {
  padding-right: 150px;
  padding-top: 80px;
}
.microsoft-solutions-section.microsoft-solutions-2 .content {
  padding-left: 100px;
  padding-top: 80px;
}
.microsoft-solutions-section.microsoft-solutions-3 .content {
  padding-left: 150px;
  padding-top: 100px;
}
.microsoft-solutions-section.microsoft-solutions-4 {
  margin: 40px 0;
}
.microsoft-solutions-section.microsoft-solutions-4 .content {
  padding-right: 100px;
  padding-top: 80px;
}
.microsoft-solutions-section.microsoft-solutions-5 {
  margin: 80px 0;
}
.microsoft-solutions-section.microsoft-solutions-5 .content {
  padding-left: 150px;
  padding-top: 100px;
}

.microsoft-cta-section {
  background: #089b93;
  padding: 80px 0;
}
.microsoft-cta-section .links:first-child {
  margin-bottom: 60px;
  margin-top: 25px;
}
.microsoft-cta-section .links h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
  color: #ffffff;
}
.microsoft-cta-section .links .link-btn {
  color: #000000;
  padding: 12px 42px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 18px;
}
.microsoft-tab-section {
  margin: 80px 0;
}
.microsoft-tabs {
  display: flex;
  align-items: center;
}
.microsoft-tabs .tab-box {
  background: #089b93;
  padding: 30px 20px;
  max-width: 290px;
  width: 100%;
  border-radius: 15px;
  margin-right: 35px;
}
.microsoft-tabs .tab-box.nav-pills .nav-link.active,
.microsoft-tabs .tab-box.nav-pills .show > .nav-link {
  color: #089b93;
  background-color: #fff;
}
.microsoft-tabs .tab-box.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 14px 0;
}
.microsoft-tabs .tab-box.nav-pills .nav-link:last-child {
  margin-bottom: 0;
}

.microsoft-tabs .tab-data h3 {
  font-size: 30px;
  color: #089b93;
  font-weight: 600;
  margin-bottom: 15px;
}
.microsoft-tabs .tab-data p {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
}

.microsoft-azure-section {
  padding: 80px 0;
}
.microsoft-azure-section .info-box-row .shape-box {
  position: relative;
  text-align: center;
}
.microsoft-azure-section .info-box-row .shape-box .shape {
  width: 100%;
}
.microsoft-azure-section .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 120px 30px 0px 30px;
}
.microsoft-azure-section .info-box h3 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 700;
}
.microsoft-azure-section .info-box-row .info-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}
.microsoft-azure-section .grid-ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.microsoft-azure-section .grid-ul li {
  margin-right: 58px;
  width: 26%;
}
.microsoft-azure-section .grid-ul li:last-child {
  margin-right: 0;
}

.microsoft-grid-section-1 {
  background: #089b93;
  padding: 80px 0;
}
.microsoft-grid-section-1 .info-box-row .shape-box .shape {
  width: 100%;
}
.microsoft-grid-section-1 .info-box-row .shape-box {
  position: relative;
}
.microsoft-grid-section-1 .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 20px 0px 20px;
}
.microsoft-grid-section-1 .info-box-row .info-box .icon {
  margin-bottom: 15px;
}
.microsoft-grid-section-1 .info-box h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #089b93;
  font-weight: 600;
}
.microsoft-grid-section-1 .info-box-row .info-box p {
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 0;
  color: #707070;
}
.microsoft-grid-section-1 .grid-ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.microsoft-grid-section-1 .grid-ul li {
  margin-right: 58px;
  width: 24%;
}
.microsoft-grid-section-1 .grid-ul li:last-child {
  margin-right: 0;
}

.microsoft-download-section {
  background: #15243c;
  padding: 40px 0;
}
.microsoft-download-section .download {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.microsoft-download-section .download h1 {
  color: #ffffff;
  font-size: 30px;
  width: 60%;
  font-weight: 600;
}
.microsoft-download-section .download .link-btn {
  color: #000000;
  padding: 12px 42px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 18px;
}

.microsoft-accordian-section {
  padding: 80px 0;
}
.microsoft-accordian-section .accordion .accordion-item .accordion-button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-radius: 18px;
}
.microsoft-accordian-section .accordion .accordion-item {
  margin-bottom: 35px;
  border: none;
}
.microsoft-accordian-section .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.microsoft-accordian-section .accordion .accordion-item .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 21px 21px;
  font-size: 21px;
  color: #fff;
  text-align: left;
  background-color: #089b93;
  border: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
.microsoft-accordian-section
  .accordion
  .accordion-item
  .accordion-button::after {
  flex-shrink: 0;
  width: 28px;
  height: 22px;
  margin-left: auto;
  content: "";
  background-image: url("../images/icons/microsoft/arrow-down.png");
  background-repeat: no-repeat;
  background-size: 25px;
  transition: transform 0.2s ease-in-out;
}

.microsoft-protect-section {
  background: #089b93;
  padding: 80px 0;
}
.microsoft-protect-section .green-big-heading {
  color: #ffffff;
}

.microsoft-protect-section .info-box-row .shape-box .shape {
  width: 100%;
}
.microsoft-protect-section .info-box-row .shape-box {
  position: relative;
}
.microsoft-protect-section .info-box-row .shape-box .info-box {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 0 25px 0px 25px;
}
.microsoft-protect-section .info-box-row .info-box .icon {
  margin-bottom: 15px;
}
.microsoft-protect-section .info-box h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #089b93;
  font-weight: 600;
  width: 60%;
}
.microsoft-protect-section .info-box-row .info-box p {
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 0;
  color: #707070;
}
.microsoft-protect-section .grid-ul {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.microsoft-protect-section .grid-ul li {
  margin-right: 65px;
  width: 36%;
}
.microsoft-protect-section .grid-ul li:last-child {
  margin-right: 0;
}
/* ==================================   Microsoft Solutions Page End   =============================== */
.hero-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 140px 0;
  position: relative;
}
.hero-banner::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(50, 138, 118, 0.7);
}
.hero-banner h1 {
	position: relative;
	z-index: 0;
	color: #ffffff;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
  text-align: center;
}
.hero-banner.about-banner{
  background-image: url('../images/banners/about_banner.jpg');
}
.hero-banner.devops-banner{
  background-image: url('../images/banners/devops_banner.jpg');
}
.hero-banner.mobile-app-banner{
  background-image: url('../images/banners/mobile_app_banner.jpg');
}
.hero-banner.Why-us-banner{
  background-image: url('../images/banners/why_us_banner.jpg');
}
.hero-banner.solutions-banner{
  background-image: url('../images/banners/solutions_banner.jpg');
}
.hero-banner.rpa-banner{
  background-image: url('../images/banners/rpa_banner.jpg');
}
.hero-banner.erp-banner{
  background-image: url('../images/banners/erp_banner.jpg');
}
.hero-banner.eap-banner{
  background-image: url('../images/banners/enterprise_assurance_program_banner.jpg');
}
.hero-banner.microsoft-banner{
  background-image: url('../images/banners/microsoft_banner.jpg');
}
