{% extends 'base.html' %}
{% load static %}
{% block title %} About-us {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!--  About Section 1 Start -->
      <section class="home-about-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">Our Vision</h1>
                <div class="heading-border">
                  <span class="wow fadeInUp"  data-wow-delay="0.2s"></span>
                  <span class="wow fadeInUp"  data-wow-delay="0.4s"></span>
                  <span class="wow fadeInUp"  data-wow-delay="0.6s"></span>
                </div>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">ARMS IT is IT Consulting Company based in Saudi since 2003 located in Riyadh. Providing solutions for IT business operation and supporting the enterprise Digital Transformation using the best class products, tools and technologies, We are certified for developing and implementing software’s, BPM ,Integrations (ESB) , mobility, cybersecurity, RPA, Chatbots, data science and big data for any size of organizations.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="image wow slideInRight"  data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/our_vision.png' %}"  class="img-fluid" alt="our_vision">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Section 1 End -->

      <!--  About Section 2 Start -->
      <section class="home-about-section home-about-section-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 order">
              <div class="image wow slideInLeft"  data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/our_mission.png' %}"  class="img-fluid" alt="our_mission">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">Our Mission</h1>
                <div class="heading-border">
                  <span class="wow fadeInUp" data-wow-delay="0.2s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.4s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.6s"></span>
                </div>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">ARMS IT is IT Consulting Company based in Saudi since 2003 located in Riyadh. Providing solutions for IT business operation and supporting the enterprise Digital Transformation using the best class products, tools and technologies, We are certified for developing and implementing software’s, BPM ,Integrations (ESB) , mobility, cybersecurity, RPA, Chatbots, data science and big data for any size of organizations.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Section 2 End -->

      <!--  About Section 3 Start -->
      <section class="about-section-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="text-transform heading wow fadeInUp" data-wow-delay="0.2s">WHY ARMS IT</h1>
                <div class="heading-border">
                  <span class="wow fadeInUp" data-wow-delay="0.2s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.4s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.6s"></span>
                </div>
                <ul class="points-ul">
                  <li class="wow fadeInUp" data-wow-delay="0.2s">Aftersales service is our priority.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.2s">The basis of our product is a clear scientific vision.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.3s">Ensure customer satisfaction.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.3s">Harnessing the latest and nest information technologies.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.3s">Committed to deadlines.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.4s">Technical support.</li>
                  <li class="wow fadeInUp" data-wow-delay="0.4s">Experts in software industry.</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.3s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/why_arms_it.png' %}"  class="img-fluid" alt="why_arms_it">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Section 2 End -->

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}