{% extends 'base.html' %}
{% load static %}
{% block title %} Conact-Us {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Application Managment</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">BUILDING MODERN DIGITAL-READY APPLICATION ENVIRONMENTS THROUGH IT AS A SERVICE</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">To drive fundamental business change, you need to employ and integrate new technologies quickly. But antiquated IT, siloed proprietary application, outdated processes and resource-intensive operations can slow your pace of change.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Build a digital-ready environment with professional and managed application services designed to help you incorporate leading technologies easily. With ARMS IT  Application Services, you’ll get unbiased, outcome-focused modern application services built on unrivaled cloud expertise.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Application Management services Saudi Arabia is the process of optimising organizations. It enhances efficiency and output. Also, it works as a complete solution that begins with identification and management, and ends with analysis and process Optimisation.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">BPM School a lot more than just automation. It streamlines in resources to remove bottleneck and ensure smooth ceiling. BPL not only revolves around automation but also run the output other result. Although BPM is a software and possible only through the automation it can be worked manually. This effective methodology has the capability of turning the entire business on its head.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Successful Application Management services Saudi Arabia involves improving processes, organising based on outcome, establishing new processes if required, bringing in a certain level of standardization, making process agile enough for changes and formalizing the way things are done.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Try not to begin without any preparation. We’ve made a library of highlights. We’ll stack them and tweak them, any way you need. It’s quicker and expenses less as well.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Get an ensured cost for your application, before you start. You control it – add more highlights and pay more, eliminate includes and you’ll save money.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">For Mobile App Development Saudi Arabia, use AI and ML to test your code. It’s revaluated by people who don’t need to squander energy on grammatical mistakes and focus on making your application really captivating.</p>
                    </div>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}