{% extends 'base.html' %}
{% load static %}
{% block title %} Consolidating Data Center{% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Consolidating Data Center </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">FREE YOUR BUSINESS FROM THE COST AND BURDEN OF DATA CENTER OPERATIONS</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">To stay ahead in an ever-changing technological landscape, your business must be increasingly agile and cost efficient. But if you’re still running your own corporate data center, you could be impeding your growth potential — especially as software vendors shift to license-based, cloud-only subscription models.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">By breaking away from the in-house data center, you position yourself to take advantage of these new cost models while modernizing your IT — either as the first step toward a larger IT transformation or as the next stage of an ongoing evolution.</p>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}