{% extends 'base.html' %}
{% load static %}
{% block title %} Controlling IT spend{% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Controlling IT spend</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">REDUCE YOUR CAPITAL AND OPERATING COSTS, WHILE MODERNIZING YOUR IT</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">When you host your own IT infrastructure, you get the highest levels of accessibility and control. But the costs quickly add up — from capital and operational costs, to indirect business costs like downtime and decreased business agility, plus the staff required to build and maintain it all.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">By transitioning your workloads to a managed services provider, you can reduce or eliminate your capital and operational expenses, while also taking advantage of the latest technologies. This allows you to redirect your IT budget and resources to projects that directly benefit your business.</p>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}