{% extends 'base.html' %}
{% load static %}
{% block title %} Database Managment {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Database Managment</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">SIMPLIFY YOUR BUSINESS OPERATIONS WITH ARMS IT MANAGED DATABASE SERVICES</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Overwhelmed by the variety of database and deployment options available to handle different workloads? Experience what it’s like to have big data experts at your side.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Whether you’ve encountered a new business challenge, are facing growing pains due to limitations of your current data solution, or need help getting started, our database experts are here to help.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">We’ll match your business objectives to the best database solution by:</p>
                        <ul><li>Assessing your business requirements</li><li>Architecting your database solution</li><li>Hosting it on a platform optimized for performance and scalability</li></ul>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">We offer support for all industry-leading database solutions, along with customizable deployment options and service levels. And it’s all backed 24x7x365 by Platinum Support.</p>
                    </div>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}