{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner devops-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>DevOps</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- devops Section 1 Start -->
      <section class="devops-section devops-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.1s"> DevOps: Breaking the Development-Operations barrier</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">What is DevOps? ​</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">DevOps is a set of practices that automates the processes between software development and IT teams, in order that they can build, test, and release software faster and more reliably. The concept of DevOps is founded on building a culture of collaboration between teams that historically functioned in relative siloes. The promised benefits include increased trust, faster software releases, ability to solve critical issues quickly, and better manage unplanned work.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">At ARMS IT, DevOps is bringing together the best of software development and IT operations. And like our jokes, it requires some explaining.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="assets/images/DevOps_1.png"  class="img-fluid" alt="DevOps_1">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- devops Section 1 End -->

      <!-- devops Section 2 Start -->
      <section class="devops-section devops-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="assets/images/DevOps_2.png"  class="img-fluid" alt="DevOps_2">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 order">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">At its essence, DevOps is a 
                  culture, a movement, a philosophy.</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.3s">It’s a firm handshake between development and operations that emphasizes a shift in mindset, better collaboration, and tighter integration. It unites agile, continuous delivery, automation, and much more, to help development and operations teams be more efficient, innovate faster, and deliver higher value to businesses and customers.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- devops Section 2 End -->

      <!-- DevOps Tools Section -->
      <section class="devops-tools-section">
        <div class="container">
          <div class="row info-box-row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">
                ARMS IT Open Source recommended DevOps Tools?
              </h1>
            </div>
          </div>
          <div class="row content-row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="logo-box wow fadeInUp"  data-wow-delay="0.3s">
                <img src="assets/images/icons/devops/tool_1.png" class="img-fluid" alt="tool">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="content wow fadeInUp"  data-wow-delay="0.3s">
                <p>Chef is the company behind the Chef Automate platform for DevOps workflows. Tens of thousands of developers use Chef to test, automate, and manage infrastructure. At the forefront of the DevOps evolution, the Seattle-based company has been releasing products like Chef, InSpec, Habitat, and Chef Automate to advance new ways of developing and shipping software and applications. To experiment with and refine its own DevOps practices.</p>
              </div>
            </div>
          </div>

          <div class="row content-row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="logo-box wow fadeInUp" data-wow-delay="0.5s">
                <img src="assets/images/icons/devops/tool_2.png" class="img-fluid" alt="tool">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="content wow fadeInUp" data-wow-delay="0.5s">
                <p>Jenkins is the leading open source automation server supported by a large and growing community of developers, testers, designers and other people interested in continuous integration, continuous delivery and modern software delivery practices. Built on the Java Virtual Machine (JVM), it provides more than 1,500 plugins that extend Jenkins to automate with practically any technology software delivery teams use. In 2019, Jenkins surpassed 200,000 known installations making it the most widely deployed automation server.</p>
                <p>Jenkins X provides pipeline automation, built-in GitOps and preview environments to help teams collaborate and accelerate their software delivery at any scale.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="logo-box wow fadeInUp" data-wow-delay="0.6s">
                <img src="assets/images/icons/devops/tool_3.png" class="img-fluid" alt="tool">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="content wow fadeInUp" data-wow-delay="0.6s">
                <p>The Vision of Electric Cloud is to win in today’s markets, organizations are making Big Bets on DevOps as one of their key strategies to drive agility and innovation. However, development teams’ agile pace of software delivery and new technology adoption have outstripped the ability of operations teams to keep up. This cadence and skills mismatch limits innovation, jeopardizes transformation, and puts teams in a constant state of release anxiety. Electric Cloud’s Adaptive Release Orchestration platform helps organizations like E*TRADE, HPE, Intel and Lockheed Martin confidently release new applications and adapt to change at any speed demanded by the business, with the analytics and insight to measure, track</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="assets/images/contact.png" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}