{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">

      <!-- Banner Start -->
      <section class="hero-banner eap-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Enterprise Assurance Program</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- eap Section 1 Start -->
      <section class="eap-section-up eap-section-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 order">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Our Pledge, Your Guarantee</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">
                  The Enterprise Assurance Program from ARMS IT is your shield of protection. As a complete support system, this advantage program assures your business operations and guarantees your operational continuity, rain or shine.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.3s">Experience peace of mind from knowing your operational continuity, cross-training, and security updates are assured with our 24/7 pledge of support.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/epr_1.png'  %}"  class="img-fluid" alt="epr_1">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- eap Section 1 End -->

      <!-- eap Section 2 Start -->
      <section class="eap-section-up eap-section-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInLeft"  data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/epr_2.png'  %}"  class="img-fluid" alt="epr_1">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Consistent, proactive service for the 
                  best customer experience.</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">It’s not just about preventive maintenance. It’s about evolving to maintain and create your competitive advantage. It’s not just about scheduling the same work every month to prevent failure anymore. It’s about optimizing your people, their training, your instance, that means something different to every company. They are evolving to be your competitive advantage.</p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- eap Section 2 End -->

      <!-- eap Program Section Start -->
      <section class="eap-program-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">INCLUDED IN THE PROGRAM</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/1.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>Security Patches and System Updates</h5>
                  <p>Support and guide internal stakeholders within IT, operations, accounting, and administration. Fully facilitate or implement all updates and patches without leveraging any of the company’s internal resources.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/2.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>ERP Systems Consulting with Incident Response</h5>
                  <p>Connecting operations and integrated end-to-end systems is a full contact sport. Business, processing, employees, technology, and opportunities create constant change and the need for ongoing ERP consulting.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.5s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/3.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>Annual Integrated System Health Check</h5>
                  <p>Integrated systems are reviewed to assure continuity of uptime and that there are no underlining problems pending. Full report and trend analysis include financial, operational, and logistical systems health checks.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.5s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/4.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>New Hire On-Boarding Walk-Through</h5>
                  <p>Give the new employee a chance to navigate the custom software solution you have deployed with 1:1 virtual/video sessions. Each position within your team can be provided a guided tour customized to their position, role, and responsibilities.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.6s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/5.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>Quarterly Trainings</h5>
                  <p>Customized training environment created for your teams. High-fidelity integrated systems need to be simplified for users in order to fully leverage your investments and achieve the intended ROI.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="program-box wow fadeInUp" data-wow-delay="0.6s">
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/6.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>Data Recovery Plans and Backups</h5>
                  <p>Complete an outside-in audit to assure all backup systems are operating and the backup procedures are working through live red team drills.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="program-box wow fadeInUp" data-wow-delay="0.8s"> 
                <div class="left">
                  <img src="{% static  'assets/images/icons/program/7.png'  %}" class="icon" alt="icon">
                </div>
                <div class="right">
                  <h5>Custom Tutorials and Ongoing Training</h5>
                  <p>Every company’s staff, process and culture are different. Custom tutorials for your team that include instructions, “how to walk-throughs,” and a custom training manual for new employees.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- eap Program Section End -->

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static  'assets/images/contact.png'  %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}