{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner erp-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Enterprise Assurance Program</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

        <!-- erp Section 1 Start -->
        <section class="erp-up erp-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="heading">
                  APPLICATION SERVICES - ENTERPRISE RESOURCE PLANNING (ERP)
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="content">
                  <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">
                    Enterprise applications are essential to your business, but they can be time-consuming and expensive to maintain,
                      modify and customize with the functionality needed to support your business processes. Your configuration may also require integration with other systems.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                  <img src="{% static  'assets/images/rpa_1.png'  %}"  class="img-fluid" alt="rpa_1">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- erp Section 1 End -->

        <!-- erp Section 2 Start -->
        <section class="erp-up erp-2">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-12 order">
                <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                  <img src="{% static  'assets/images/erp_2.png'  %}"  class="img-fluid" alt="erp_2">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="content">
                  <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Whether you’re using Enterprise Resource Planning (ERP) systems to streamline operations or make better data-driven decisions, you want to feel confident that any development work being done to optimize them is done professionally. We have the expertise you need.</p>
                  <p class="font-600 wow fadeInUp" data-wow-delay="0.6s">We offer a full range of services to enable you to get the most out of your ERP investment — from minor updates to complete end-to-end cloud-based ERP solutions:</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- erp Section 2 End -->

        <!-- erp Section 3 Start -->
        <section class="erp-up erp-3">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="content">
                  <p class="font-600 wow fadeInUp"  data-wow-delay="0.2s">All of our services are available 24x7x365 by phone, email or chat. We proactively monitor the overall health of your IT environment to ensure system integrity and availability. This helps us determine the best strategy to remediate and optimize your ERP applications, based on your needs and budget
                  </p>
                  <ul class="points-ul">
                    <li class="wow fadeInUp" data-wow-delay="0.3s">Upgrades</li>
                    <li class="wow fadeInUp" data-wow-delay="0.4s">Customizations</li>
                    <li class="wow fadeInUp" data-wow-delay="0.5s">Managed services</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s">New implementations</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="image wow slideInRight" data-wow-delay="0.5s" data-wow-duration="0.8s">
                  <img src="{% static  'assets/images/rpa_1.png'  %}"  class="img-fluid" alt="rpa_1">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- erp Section 3 End -->
        
        <!-- erp Help section start -->
        <section class="erp-help-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="heading wow fadeInUp" data-wow-delay="0.3s"> 
                  ARMS IT Can Help
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="help-box box-1">
                  <img src="{% static  'assets/images/icons/corner-up-right-1.png'  %}" alt="icon" class="aero wow fadeInUp" data-wow-delay="0.6s">
                  <img src="{% static  'assets/images/icons/erp/help_1.png'  %}" alt="icon" class="icon wow fadeInUp" data-wow-delay="0.4s">
                  <h4 class="wow fadeInUp" data-wow-delay="0.4s">Expertise on Demand</h4>
                  <p class="wow fadeInUp" data-wow-delay="0.2s">If you lack the resources needed to test, deploy or manage your applications, we can provide the expertise you need. You can choose whether you want us to help solve specific issues or fully manage your application for you.</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="help-box box-2">
                  <h4 class="wow fadeInUp" data-wow-delay="0.7s">Customized Solutions</h4>
                  <p class="wow fadeInUp" data-wow-delay="0.8s">Our goal is the same as yours — to maximize the returns on your ERP investment while minimizing support costs. We’ll work with you to design a best-fit architecture and solution to transform this goal into a reality.</p>
                  <img src="{% static  'assets/images/icons/erp/help_2.png'  %}"  alt="erp" class="icon wow fadeInUp" data-wow-delay="0.8s">
                  <img src="{% static  'assets/images/icons/corner-up-right.png'  %}" alt="icon" class=" aero wow fadeInUp" data-wow-delay="0.9s">
                </div>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="help-box box-3">
                  <img src="{% static  'assets/images/icons/erp/help_3.png'  %}" alt="erp" class="icon wow fadeInUp" data-wow-delay="1s">
                  <h4 class="wow fadeInUp" data-wow-delay="1.2s">Expertise on Demand</h4>
                  <p class="wow fadeInUp" data-wow-delay="1.3s">If you lack the resources needed to test, deploy or manage your applications, we can provide the expertise you need. You can choose whether you want us to help solve specific issues or fully manage your application for you.</p>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- erp Help section End -->

        <!-- Home Contact Section Start -->
        <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-box">
                  <div class="left">
                    <img src="{% static  'assets/images/contact.png'  %}" alt="contact">
                  </div>
                  <div class="right">
                      <h3 class="heading">Contact Us</h3>
                      <form class="row">
                        <div class="col-md-6">
                          <div class="group">
                            <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                            <label>First Name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="group">
                            <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                            <label>Last Name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="group">
                            <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                            <label>Company</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="group">
                            <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                            <label>Email</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="group message-bar">
                            <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                            <label>Message</label>
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                          <button type="button" class="btn contact-btn">Send</button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}