{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-wrapper">
    <!-- Hero Banner Start -->
    <section class="hero-banner-section home-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h1 class="font-700 wow fadeInUp" data-wow-delay="0.1s">We Provide <span class="primary-color"> Best IT 
                            Services </span> for Your Need</h1>
                        <p class="font-400  wow fadeInUp" data-wow-delay="0.2s">Aenean Sollicitudin, Lorem quis Bibendum auctor, ipsum, 
                            nec sagittis sem nibh id elit.  Duis sed odio </p>

                        <div class="button-box" >
                            <a href="#" class="white-btn btn wow fadeInUp" data-wow-delay="0.3s">Learn More</a>
                            <a href="#" class="plain-btn btn wow fadeInUp" data-wow-delay="0.3s">Get Started</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Banner ENd -->

    <!-- Home About Section Start -->
    <section class="home-about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="content">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">About Company</h1>
              <div class="heading-border">
                <span class="wow fadeInUp"  data-wow-delay="0.2s"></span>
                <span class="wow fadeInUp"  data-wow-delay="0.4s"></span>
                <span class="wow fadeInUp"  data-wow-delay="0.6s"></span>
              </div>
              <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">ARMS IT is IT Consulting Company based in Saudi since 2003 located in Riyadh. Providing solutions for IT business operation and supporting the enterprise Digital Transformation using the best class products, tools and technologies, We are certified for developing and implementing software’s, BPM ,Integrations (ESB) , mobility, cybersecurity, RPA, Chatbots, data science and big data for any size of organizations.</p>
              <a href="#" class="btn wow fadeInUp" data-wow-delay="0.3s">Learn More</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
              <img src="{% static  'assets/images/home_about1.png'  %}"  class="img-fluid" alt="home_about1">
            </div>
          </div>
        </div>


        <div class="row info-box-row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
              <img src="{% static  'assets/images/shape/box-shape1.png'  %}" alt="shape1" class="shape">
                <div class="info-box">
                  <img src="{% static  'assets/images/icons/lightbulb-outline-badged.png'  %}" class="icon" alt="lightbulb-outline-badged">
                  <h3>Vision</h3>
                  <p>To become the leading ICT Partner in the Region.</p>
                  <a href="#" class="link">
                    <img src="{% static  'assets/images/icons/info-box-icon.png'  %}" alt="info-box">
                  </a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
              <img src="{% static  'assets/images/shape/box-shape1.png'  %}" alt="shape1" class="shape">
                <div class="info-box">
                  <img src="{% static  'assets/images/icons/target-line.png'  %}" class="icon" alt="lightbulb-outline-badged">
                  <h3>Misson</h3>
                  <p>We thrive to provide the best services for each customer, because we believe each customer is</p>
                    <a href="#" class="link">
                      <img src="{% static  'assets/images/icons/info-box-icon.png'  %}" alt="info-box">
                    </a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
              <img src="{% static  'assets/images/shape/box-shape1.png'  %}" class="shape" alt="shape1">
                <div class="info-box">
                  <img src="{% static  'assets/images/icons/target.png'  %}" class="icon" alt="lightbulb-outline-badged">
                  <h3>Value</h3>
                  <p>Integrity and high level ethicsproactive agile and adaptiveresponsible</p>
                  <a href="#" class="link">
                    <img src="{% static  'assets/images/icons/info-box-icon.png'  %}" alt="info-box">
                  </a>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>
    <!-- Home About Section End -->

    <!-- Home Service Section Start -->
    <section class="home-service-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto">
              <div class="heading">
                <span>Our Service</span>
                <h1>We Provide a Wide Variety of IT Services</h1>
              </div>
          </div>
            <div class="col-lg-12">
              <div class="owl-carousel owl-theme" id="owl-service">

                <div class="carousel-item">
                  <div class="service-box">
                    <img src="{% static  'assets/images/icons/services/mobile-application-development.png'  %}" alt="mobile-application-development">
                    <h5>Mobile Application Development​</h5>
                    <p>Lorem Ipsum is simply dummy text has been the industry's standard Lorem Ipsum is simply dummy text </p>
                    <a href="#" class="link">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="service-box">
                    <img src="{% static  'assets/images/icons/services/e-commerce.png'  %}" alt="e-commerce">
                    <h5>E-commerce and digital experience</h5>
                    <p>Lorem Ipsum is simply dummy text 
                      has been the industry's standard Lorem 
                      Ipsum is simply dummy text  </p>
                    <a href="#" class="link">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="service-box">
                    <img src="{% static  'assets/images/icons/services/bussiness-process.png'  %}" alt="bussiness-process">
                    <h5>Business Process Management​</h5>
                    <p>Lorem Ipsum is simply dummy text has been the industry's standard Lorem Ipsum is simply dummy text </p>
                    <a href="#" class="link">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                  </div>
                </div>

                <div class="service-box">
                  <img src="{% static  'assets/images/icons/services/mobile-application-development.png'  %}" alt="mobile-application-development">
                  <h5>Mobile Application Development​</h5>
                  <p>Lorem Ipsum is simply dummy text has been the industry's standard Lorem Ipsum is simply dummy text </p>
                  <a href="#" class="link">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </div>
              </div>

              <div class="carousel-item">
                <div class="service-box">
                  <img src="{% static  'assets/images/icons/services/e-commerce.png'  %}" alt="e-commerce">
                  <h5>E-commerce and digital experience</h5>
                  <p>Lorem Ipsum is simply dummy text 
                    has been the industry's standard Lorem 
                    Ipsum is simply dummy text  </p>
                  <a href="#" class="link">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </div>
              </div>

              <div class="carousel-item">
                <div class="service-box">
                  <img src="{% static  'assets/images/icons/services/bussiness-process.png'  %}" alt="bussiness-process">
                  <h5>Business Process Management​</h5>
                  <p>Lorem Ipsum is simply dummy text has been the industry's standard Lorem Ipsum is simply dummy text </p>
                  <a href="#" class="link">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </div>
              </div>

              <div class="carousel-item">
                <div class="service-box">
                  <img src="{% static  'assets/images/icons/services/e-commerce.png'  %}" alt="e-commerce">
                  <h5>E-commerce and digital experience</h5>
                  <p>Lorem Ipsum is simply dummy text 
                    has been the industry's standard Lorem 
                    Ipsum is simply dummy text  </p>
                  <a href="#" class="link">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </div>
              </div>

              <div class="carousel-item">
                <div class="service-box">
                  <img src="{% static  'assets/images/icons/services/bussiness-process.png'  %}" alt="bussiness-process">
                  <h5>Business Process Management​</h5>
                  <p>Lorem Ipsum is simply dummy text has been the industry's standard Lorem Ipsum is simply dummy text </p>
                  <a href="#" class="link">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
    </section>
    <!-- Home Service Section End -->

    <!-- Home Technologies Section Start -->
    <section class="home-tech-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="heading">Technologies</h1>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="tech-box wow fadeInUp" data-wow-delay="0.1s">
              <img src="{% static  'assets/images/technologies/tech-1.png'  %}" class="img-fluid tech-img" alt="tech">
              <h5>CHABOTS</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="tech-box wow fadeInUp" data-wow-delay="0.2s">
              <img src="{% static  'assets/images/technologies/tech-2.png'  %}" class="img-fluid tech-img" alt="tech">
              <h5>CHABOTS</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="tech-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static  'assets/images/technologies/tech-3.png'  %}" class="img-fluid tech-img" alt="tech">
              <h5>CHABOTS</h5>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="tech-box  wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static  'assets/images/technologies/tech-4.png'  %}" class="img-fluid tech-img" alt="tech">
              <h5>CHABOTS</h5>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="tech-box  wow fadeInUp" data-wow-delay="0.4s">
              <img src="{% static  'assets/images/technologies/tech-5.png'  %}" class="img-fluid tech-img" alt="tech">
              <h5>CHABOTS</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Home Technologies Section End -->

    <!-- Home Client Section Start -->
    <section class="home-client-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="heading font-600">Our Clients</h1>
          </div>
          <div class="col-lg-12">
            <div id="owl-clients" class="owl-carousel owl-theme">
              <div class="item">
                <img src="{% static  'assets/images/clients/1.png'  %}" alt="">
              </div>
              <div class="item">
                <img src="{% static  'assets/images/clients/2.png'  %}" alt="">
              </div>
              <div class="item">
                <img src="{% static  'assets/images/clients/3.png'  %}" alt="">
              </div>
              <div class="item">
                <img src="{% static  'assets/images/clients/1.png'  %}" alt="">
              </div>
              <div class="item">
                <img src="{% static  'assets/images/clients/2.png'  %}" alt="">
              </div>
              <div class="item">
                <img src="{% static  'assets/images/clients/3.png'  %}" alt="">
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- Home Client Section End -->

    <!-- Home Contact Section Start -->
    <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="contact-box">
              <div class="left">
                <img src="{% static  'assets/images/contact.png'  %}" alt="contact">
              </div>
              <div class="right">
                  <h3 class="heading">Contact Us</h3>
                  <form class="row">
                    <div class="col-md-6">
                      <div class="group">
                        <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>First Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="group">
                        <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Last Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="group">
                        <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Company</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="group">
                        <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Email</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="group message-bar">
                        <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Message</label>
                      </div>
                    </div>
                    
                    <div class="col-md-12">
                      <button type="button" class="btn contact-btn">Send</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Home Contact Section End -->
</div>
{% endblock %}