
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner microsoft-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Microsoft Solutions</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- microsoft-solutions Section 1 Start -->
      <section class="microsoft-solutions-section microsoft-solutions-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Microsoft Solutions​</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">SAP Application Management services Saudi Arabia are some processes and methodologies to maintain, enhance and manage enterprises SAP environment. AMS provides various types of services that include development, implementation, integration, testing maintenance and support, and help desk services. AMS also features application monitoring as well as backup and recovery of applications.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">How much an SAP can support in day to day management of a business? Even after installing SAP, many companies find it difficult to continue some fields like regulatory changes, user changing needs, new technology, business value and continuous improvement. Despite, Any SAP implementation has a variety of benefits as well like finance Material Management sales and distributions, HR and many more. In addition, their application may include SAP portal or CRM.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/microsoft_solutions_1.png'  %}"  class="img-fluid" alt="microsoft_solutions_1">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- microsoft-solutions Section 1 End -->

      <!-- microsoft-solutions Section 2 Start -->
      <section class="microsoft-solutions-section microsoft-solutions-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/microsoft_solutions_2.png'  %}"  class="img-fluid" alt="microsoft_solutions_2">
              </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 order">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">Our service value</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Our Application Management services Saudi Arabia has various benefits. It is widely known for maintaining cost efficiency and budget certainty. It also improves agility and time to market from one day. Today, businesses are growing fast. Working with traditional methods might lead to the degradation of your business. To maintain the pace with the next generation, you need to upgrade your business.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.3s">We, as Microsoft Azure partner Saudi Arabia, ensure a rapid on-board process. By combining different modules like shared services models, and cloud based ticket, and knowledge management system, one can get rapid processes in almost every organisation or industries working under one common SAP. Our Global Nearshore SAP Services are there to support 24×7. You can get access to experts across all over the globe who can easily support and answer your quarrels whenever and wherever you want.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">As Microsoft Azure partner Saudi Arabia, our service is on a continuous improvement. Instead of a break-fix, it allows organizations to enhance functionality continuously. By relying on a root cause, its analysis to eliminate recurring problems.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft-solutions Section 2 End -->

      <!-- microsoft CTA section Start -->
      <section class="microsoft-cta-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
                <div class="links">
                  <h4>Move your data to the cloud 
                    with Azure</h4>
                    <button class="btn link-btn">Buy Now</button>
                </div>
                <div class="links">
                  <h4>Hybrid Cloud: Creating order when data is 
                    everywhere Download the free Whitepaper</h4>
                    <button class="btn link-btn">Download</button>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="image">
                <img src="{% static  'assets/images/microsoft_cta.png'  %}" alt="microsoft_cta" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft CTA section End -->

      <!-- microsoft tab Section  Start -->
      <section class="microsoft-tab-section">
        <div class="container">
          <div class="row info-box-row">
            <div class="col-lg-12">
              <h1 class="green-big-heading wow fadeInUp" data-wow-delay="0.2s">
                How can the cloud help me?
              </h1>
            </div>
          </div>
          <div class="row ">
            <div class="col-lg-12">
              <div class="microsoft-tabs">
                <div class="nav flex-column nav-pills tab-box" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-one-tab" data-bs-toggle="pill" data-bs-target="#v-pills-one" type="button" role="tab" aria-controls="v-pills-one" aria-selected="true">Data capacity</button>
                  <button class="nav-link" id="v-pills-two-tab" data-bs-toggle="pill" data-bs-target="#v-pills-two" type="button" role="tab" aria-controls="v-pills-two" aria-selected="false">Compliance</button>
                  <button class="nav-link" id="v-pills-three-tab" data-bs-toggle="pill" data-bs-target="#v-pills-three" type="button" role="tab" aria-controls="v-pills-three" aria-selected="false">Secure data</button>
                  <button class="nav-link" id="v-pills-four-tab" data-bs-toggle="pill" data-bs-target="#v-pills-four" type="button" role="tab" aria-controls="v-pills-four" aria-selected="false">Costs</button>
                  <button class="nav-link" id="v-pills-five-tab" data-bs-toggle="pill" data-bs-target="#v-pills-five" type="button" role="tab" aria-controls="v-pills-five" aria-selected="false">Data availability</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
                    <div class="tab-data">
                      <h3>Data capacity</h3>
                      <p>By 2020, the amount of 
                        high-value data will double.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                    <div class="tab-data">
                      <h3>Compliance</h3>
                      <p>By 2020, the amount of 
                        high-value data will double.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
                    <div class="tab-data">
                      <h3>Secure data</h3>
                      <p>By 2020, the amount of 
                        high-value data will double.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                    <div class="tab-data">
                      <h3>Costs</h3>
                      <p>By 2020, the amount of 
                        high-value data will double.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-five" role="tabpanel" aria-labelledby="v-pills-five-tab">
                    <div class="tab-data">
                      <h3>Data availability</h3>
                      <p>By 2020, the amount of 
                        high-value data will double.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  microsoft tab section End -->

      <!-- microsoft-solutions Section 3 Start -->
      <section class="microsoft-solutions-section microsoft-solutions-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/microsoft_solutions_3.png'  %}"  class="img-fluid" alt="microsoft_solutions_3">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">1  Back up your data to the cloud</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">With Azure backup solutions, you can protect your data and applications to avoid costly business interruptions and meet compliance requirements. Securely extend your on-premises backup storage and data archiving solutions to the cloud???reduce cost and complexity, and achieve efficiency and scalability.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft-solutions Section 3 End -->

      <!-- microsoft-solutions Section 4 Start -->
      <section class="microsoft-solutions-section microsoft-solutions-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 order">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">2  Mitigate the impact of disasters</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Even a minor outage can put you at a competitive disadvantage. Be ready with a business continuity plan that includes disaster recovery for all your major IT systems???without the expense of secondary infrastructure.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/microsoft_solutions_4.png'  %}"  class="img-fluid" alt="microsoft_solutions_4">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft-solutions Section 4 End -->

      <!-- microsoft-solutions Section 5 Start -->
      <section class="microsoft-solutions-section microsoft-solutions-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/microsoft_solutions_5.png'  %}"  class="img-fluid" alt="microsoft_solutions_5">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">3  Secure your data in the cloud</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">With an increase in security breaches and cybercrimes, companies are rightfully concerned about the security of their data in the cloud. Stay protected with</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft-solutions Section 5 End -->

      <!-- microsoft azure Section  Start -->
      <section class="microsoft-azure-section">
        <div class="container">
          <div class="row info-box-row">
            <div class="col-lg-12">
              <h1 class="green-big-heading wow fadeInUp" data-wow-delay="0.2s">
                Why Azure?
              </h1>
            </div>
          </div>
          <div class="row info-box-row">
            <div class="col-lg-12">
              <ul class="grid-ul">
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static  'assets/images/shape/microsoft_shape1.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <h3>100</h3>
                        <p>or more services are provided by Azure Cloud, including Virtual Machines, Storage, Databases, Backup, Azure Active Directory, Analytics, and more.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static  'assets/images/shape/microsoft_shape1.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <h3>$12M</h3>
                        <p>Forrester Consulting concluded that datacenter costs are reduced by when switched to Azure.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static  'assets/images/shape/microsoft_shape1.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <h3>90%</h3>
                        <p>of Fortune 500 companies trust the Microsoft Azure Cloud. Take advantage of the most compliant of any cloud provider.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--  microsoft azure section End -->

      <!-- microsoft grid 1 Section Start -->
      <section class="microsoft-grid-section-1">
        <div class="container">
          <div class="row info-box-row">
              <div class="col-lg-12">
                <ul class="grid-ul">
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                      <img src="{% static  'assets/images/shape/microsoft_shape2.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/microsoft/card1_icon1.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Data Backup</h3>
                          <p>Simplify tape management with significant cost savings, short recovery times, and up to 99 years of retention.
                            Stored in geo-replicated storage, maintaining 6 copies of data across 2 Azure datacenters.
                            99.9% service availability.
                          </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                      <img src="{% static  'assets/images/shape/microsoft_shape2.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/microsoft/card1_icon2.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Security</h3>
                          <p>Leverage advanced analytics and threat intelligence to detect attacks.
                            Simplify investigation for rapid threat response.
                            Use access and application controls to block malicious activity.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.6s">
                      <img src="{% static  'assets/images/shape/microsoft_shape2.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/microsoft/card1_icon3.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Disaster Recovery</h3>
                          <p>Restore services during a site outage at the primary datacenter.
                            Protect Hyper-V, VMWare, and physical servers with System Center and SQL Server Always On.
                            </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>
      <!-- microsoft grid 1 Section End -->

      <!-- microsoft download section start -->
      <section class="microsoft-download-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="download">
                <h1>Hybrid Cloud: Creating order when data is everywhere Download the free Whitepaper</h1>
                <button class="btn link-btn">Download</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft download section end -->

      <!-- microsoft accordian section start -->
      <section class="microsoft-accordian-section">
        <div class="container">
          <div class="row info-box-row">
            <div class="col-lg-12">
              <h1 class="green-big-heading wow fadeInUp" data-wow-delay="0.2s">
                What’s new in Microsoft 365
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      One secured place for your photos and files
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With your Microsoft 365 subscription, you get 1 TB of OneDrive cloud storage. That’s 300,000 photos, plus all your documents,1 that you can access, edit, and share across all your devices—all while knowing your files are always backed up and protected.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Bring out your best writer wherever you write
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With your Microsoft 365 subscription, you get 1 TB of OneDrive cloud storage. That’s 300,000 photos, plus all your documents,1 that you can access, edit, and share across all your devices—all while knowing your files are always backed up and protected.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Connect. Organize. Get things done.
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With your Microsoft 365 subscription, you get 1 TB of OneDrive cloud storage. That’s 300,000 photos, plus all your documents,1 that you can access, edit, and share across all your devices—all while knowing your files are always backed up and protected.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Kickstart your creativity
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With your Microsoft 365 subscription, you get 1 TB of OneDrive cloud storage. That’s 300,000 photos, plus all your documents,1 that you can access, edit, and share across all your devices—all while knowing your files are always backed up and protected.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                      Unleash your imagination
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With your Microsoft 365 subscription, you get 1 TB of OneDrive cloud storage. That’s 300,000 photos, plus all your documents,1 that you can access, edit, and share across all your devices—all while knowing your files are always backed up and protected.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft accordian section End -->

      <!-- microsoft-protect-section start -->
      <section class="microsoft-protect-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="green-big-heading wow fadeInUp" data-wow-delay="0.2s">
                Protect what’s important
              </h1>
            </div>
          </div>
          <div class="row info-box-row">
            <div class="col-lg-10 mx-auto">
              <ul class="grid-ul">
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static  'assets/images/shape/microsoft_shape3.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{% static  'assets/images/icons/microsoft/card2_icon1.png'  %}" class="icon" alt="card1_icon1">
                        <h3>Backing up your PC 
                          files just got easier</h3>
                        <p>With OneDrive PC folder backup, you can automatically back up your Desktop, Documents, and Pictures folders on your Windows PC to OneDrive so that they're always protected, up-to-date and available across all your devices.

                        </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{% static  'assets/images/shape/microsoft_shape3.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{% static  'assets/images/icons/microsoft/card2_icon2.png'  %}" class="icon" alt="card1_icon1">
                        <h3>Protection 
                          gets Personal</h3>
                        <p>Personal Vault is a protected folder within OneDrive that can only be accessed with a second step of identity verification. It gives you an added layer of protection for your most important files like your passport, driver’s license, or insurance information.
                        </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- microsoft-protect-section end -->

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static  'assets/images/contact.png'  %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}