{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner mobile-app-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Mobile Application Development</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- mob-app-dev Section 1 Start -->
      <section class="mob-app-dev-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Mobile Application Development ​</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">In ARMS IT, we deliver full-cycle mobile development services, including UI/UX design, concept, programming, prototyping, testing, and support. ARMS IT also builds custom consumer mobile applications and Mobility between companies’ solutions across all major platforms. ARMS IT dedicated development teams deliver top value for every outsourced mobile development solution. As well as strong expertise in iOS, Android, Unity, and Unreal Engine platforms.</p>
              </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.4s" data-wow-duration="0.9s">
                <img src="{%  static 'assets/images/mobile_app_dev.png'  %}"  class="img-fluid" alt="mobile_app_dev">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- mob-app-dev Section 1 End -->

      <!-- mob-app-dev Section 2 Start -->
      <section class="mob-app-dev-section-2">
        <div class="container">
          <div class="row info-box-row">
              <div class="col-lg-12">
                <ul class="grid-ul">
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                      <img src="{%  static 'assets/images/shape/soluction-shape1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{%  static 'assets/images/icons/mob_app/card1_icon1.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Mobile applications that handle the high load:</h3>
                          <p>Mobile development teams at ARMS IT build mobile apps that handle large volumes of server requests.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                      <img src="{%  static 'assets/images/shape/soluction-shape1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{%  static 'assets/images/icons/mob_app/card1_icon1.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Mobile apps for multiple industries</h3>
                          <p>Our IOS and Android engineers have developed apps that serve nearly 150,000 end users across 7 countries. ARMS IT team deliver mobile applications for various fields, including educational, governmental, hospitality, and more.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.6s">
                      <img src="{%  static 'assets/images/shape/soluction-shape1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{%  static 'assets/images/icons/mob_app/card1_icon1.png'  %}" class="icon" alt="card1_icon1">
                          <h3>Development of native mobile applications:</h3>
                          <p>Our teams help Companies and organizations build intuitive local mobile applications and developed local iOS and Android apps like what we do before in an app for helping drivers and passengers.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </section>
      <!-- mob-app-dev Section 2 End -->

      <!-- mob-app-dev-section-3 Start -->
      <section class="mob-app-dev-section-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.2s"> How We Work</h1>
            </div>
          </div>
          <div class="row info-box-row">
            <div class="col-lg-10 mx-auto">
              <ul class="grid-ul">
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{%  static 'assets/images/shape/mob_app_path.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card2_icon1.png'  %}" class="icon" alt="card1_icon1">
                        <h3>Analysis</h3>
                        <p>Our cross-functional department checks the app’s initial concept then decide how to solve users’ problems particularly related to business objectives at creating the application. ARMS IT mobile experts analyze the client’s business model and work with client’s teams to specify the key challenges clearly to get to the app’s right target audiences and outline project development Phases.

                        </p>
                      </div>
                      <h1 class="number">1</h1>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{%  static 'assets/images/shape/mob_app_path.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card2_icon1.png'  %}" class="icon" alt="card1_icon1">
                        <h3>UI/UX Design</h3>
                        <p>We Compare client expectations and use cases of the application to define how user experience of the future app will help achieve the project’s business objectives. ARMS IT team proceeds to concept development, UX, user interface mapping, wire framing, and testing. </p>
                      </div>
                      <h1 class="number">2</h1>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{%  static 'assets/images/shape/mob_app_path.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card2_icon1.png'  %}" class="icon" alt="card1_icon1">
                        <h3>Product Development</h3>
                        <p>ARMS IT teams add options and improve the application after using methodologies to create an early working application phase. Our mobile testers working systematically at the development process to help notice improvement areas emergency.</p>
                      </div>
                      <h1 class="number">3</h1>
                  </div>
                  
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{%  static 'assets/images/shape/mob_app_path.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card2_icon1.png'  %}" class="icon" alt="card1_icon1">
                        <h3>Release & Support</h3>
                        <p>Once the product version of the client is ready, we integrate it with the organization’s business processes. We launch them in mobile app stores. After the release,  ARMS IT provides support and maintain mobile applications.</p>
                      </div>
                      <h1 class="number">4</h1>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- mob-app-dev-section-3 End -->

      <section class="mob-app-dev-section-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">We Offer</h1>
            </div>
          </div>
          <div class="row info-box-row">
            <div class="col-lg-12">
              <ul class="grid-ul">
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon1.png'  %}" class="icon" alt="card3_icon1">
                        <h3>Local iOS and Android applications.</h3>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon2.png'  %}" class="icon" alt="lightbulb-outline-badged">
                        <h3>Custom mobile app development.</h3>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon3.png'  %}" class="icon" alt="lightbulb-outline-badged">
                        <h3>Cross-platform mobile apps.</h3>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon4.png'  %}" class="icon" alt="lightbulb-outline-badged">
                        <h3>Enterprise mobility applications.</h3>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon5.png'  %}" class="icon" alt="lightbulb-outline-badged">
                        <h3>Android & Ios games.</h3>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{%  static 'assets/images/shape/mob_app_path_2.png'  %}" alt="shape1" class="shape">
                      <div class="info-box">
                        <img src="{%  static 'assets/images/icons/mob_app/card3_icon1.png'  %}" class="icon" alt="lightbulb-outline-badged">
                        <h3>UI/UX design</h3>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{%  static 'assets/images/contact.png'  %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    {% endblock %}