{% extends 'base.html' %}
{% load static %}
{% block title %} Modernizing Applications{% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Modernizing Applications</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">GET AN OPTIMIZED ENVIRONMENT BUILT ON LEADING TECHNOLOGIES</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">To drive change, you need to deploy new technologies quickly. But traditional IT, siloed proprietary applications, outdated processes and resource-intensive operations can slow your pace.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Being ready to capitalize on the digital economy requires more than a single IT solution. It requires a holistic view of application modernization — from human resource skill sets to IT operating models.ARMS IT can partner with you to build a digital-ready application environment designed to accelerate your journey.</p>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}