{% extends 'base.html' %}
{% load static %}
{% block title %} Productivity and Collaboration {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Productivity and Collaboration</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">PRODUCTIVITY AND COLLABORATION SOLUTIONS MANAGED BY EXPERTS</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Increase productivity and collaboration with your choice of industry-leading solutions. Our team of NextCloud experts can help you choose, deploy and manage the best option to meet your unique business needs.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Every solution is backed by our award-winning support — available 24x7x365 by phone, email and chat.</p>
                        
                    </div>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}