{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner rpa-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Robotics Process Automation</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- rpa Section 1 Start -->
      <section class="rpa-up rpa-1">
        <div class="container">

          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.2s">ARMS IT RPA Solution using UiPath ​</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">In contrast to other, traditional IT solutions, RPA allows organizations to automate at a fraction of the cost and time previously encountered. RPA is also non-intrusive in nature and leverages the existing infrastructure without causing disruption to underlying systems, which would be difficult and costly to replace. With RPA, cost efficiency and compliance are no longer an operating cost but a byproduct of the automation. RPA is the most fastest growing field in the businesses. Different organisations and services need to innovate in various fields. RPA is one of them. ARMS IT has successfully implemented the innovation, RPA Services Company Saudi Arabia.</p>
                
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/rpa_1.png'  %}"  class="img-fluid" alt="rpa_1">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- rpa Section 1 End -->

      <!-- rpa Section 2 Start -->
      <section class="rpa-up solutions-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 order">
              <div class="image  wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/rpa_2.png'  %}"  class="img-fluid" alt="rpa_2">
              </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Robotics process automation profit and loss calculations are quickly evolving as the most developing area to support the Finance Companies. Implementing robotic process automation and Mobile App Development Saudi Arabia for various need can be a better choice than hiring humans which is error prone. RPA is the most proven technology today. It is a fast growing fielding and innovations are going on in this field on daily basis. RPA Services Company Saudi Arabia offers the most demanded technology in large scale industries and businesses.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- rpa Section 2 End -->

      <!-- rpa Section 3 Start -->
      <section class="rpa-up solutions-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
              <div class="content">
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Our Mobile App Development Saudi Arabia Advisory Services introduces the RPA system in any service. It supports the organization, brings the best advisory services to make the work easier. Our best engineers and business professionals bring expert time and incredible depth knowledge in RPA system to help you in installing RPA in your business. We make sure implementation and acceptance of RPA system in your business. It also helps with end to end implementation in the KSA region.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static  'assets/images/rpa_3.png'  %}"  class="img-fluid" alt="rpa_3">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- rpa Section 3 End -->

      <!--  rpa-box-section -->
      <section class="rpa-box-section">
        <div class="container">
          <div class="row info-box-row">
            <div class="col-lg-12">
              <h1 class="heading wow fadeInUp" data-wow-delay="0.4s">
                How does Robotic Process Automation work?
              </h1>
              <ul class="grid-ul">
                  <li>
                      <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_1.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Log Into Any Application</h3>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_2.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Connect to System API</h3>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_3.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Copy and past 
                            data</h3>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_4.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Move Files 
                            and folders</h3>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_5.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <p>Extract and process structured and semistructured content from documents, PDF's, emails, and forms</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_6.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Read and write 
                            to database</h3>
                      </div>
                    </div>
                  </li>
                    <li>
                      <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                        <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                          <div class="info-box">
                            <img src="{% static  'assets/images/icons/rpa/ic_rpa_7.png'  %}" class="icon" alt="lightbulb-outline-badged">
                            <h3>Open Email and 
                              Attachments</h3>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                        <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                          <div class="info-box">
                            <img src="{% static  'assets/images/icons/rpa/ic_rpa_8.png'  %}" class="icon" alt="lightbulb-outline-badged">
                            <h3>Scrap data  
                              from the web</h3>
                        </div>
                      </div>
                  </li>
                  <li>
                    <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                      <img src="{% static  'assets/images/shape/rpa_shape_1.png'  %}" alt="shape1" class="shape">
                        <div class="info-box">
                          <img src="{% static  'assets/images/icons/rpa/ic_rpa_9.png'  %}" class="icon" alt="lightbulb-outline-badged">
                          <h3>Make 
                            calculations</h3>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
            
          </div>
        </div>
      </section>

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static  'assets/images/contact.png'  %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}