{% extends 'base.html' %}
{% load static %}
{% block title %}Scaling My Business{% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Scaling My Business</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->


            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="align-items-center row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">SCALE EFFICIENTLY IN THE CLOUD</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Efficient scalability is one of the big advantages the cloud offers over an in-house data center. Cloud computing enables you to quickly scale resources up or down based on demand. So, you get the performance and capacity you need, when you need them — and you’re not paying for them when you don’t. The cloud gives you the flexibility to support your customers as your business grows and changes — while helping to keep costs under control.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Whether you’re considering a move to the cloud or are already using it, we can help you use it to scale your business. Because whatever you want to do in the cloud, chances are we’ve already done it.</p>
                         
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                      <div class="image wow slideInRight animated">
                        <img src="/static/assets/images/microsoft_solutions_1.png" class="img-fluid" alt="microsoft_solutions_1">
                      </div>
                    </div>
                  </div>
                </div>  
            </section>      
            <section class="microsoft-solutions-section microsoft-solutions-2"> 
                <div class="container">
                  <div class="align-items-center row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                      <div class="image wow slideInLeft animated">
                        <img src="/static/assets/images/microsoft_solutions_2.png" class="img-fluid" alt="microsoft_solutions_1">
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 order">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">ARMS IT certified cloud specialists can help you</h1>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Assess your infrastructure and platform requirements</p>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Select which cloud platform best fits your needs and budget</p>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Plan an efficient strategy that minimizes interruption</p>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Migrate your data and applications as needed</p>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Optimize your solution for performance and cost-effectiveness</p>
                          <p class="font-600 wow fadeInUp" data-wow-delay="0.2s">Secure your solution so you can scale your business while minimizing risk</p>
                      </div>
                    </div>
                  </div>
                </div>  
            </section>

            <section class="microsoft-grid-section-1">
                <div class="container">
                  <div class="row info-box-row">
                    <div class="col-lg-12">
                      <h1 class="scale-business-heading green-big-heading wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        We Can Help You Scale Your Business
                      </h1>
                    </div>
                  </div>
                  <div class="row info-box-row">
                      <div class="col-lg-12">
                        <ul class="grid-ul">
                          <li>
                            <div class="shape-box  wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                              <img src="/static/assets/images/shape/microsoft_shape2.png" alt="shape1" class="shape">
                                <div class="info-box">
                                  <img src="/static/assets/images/icons/microsoft/card1_icon1.png" class="icon" alt="card1_icon1">
                                  <h3>Improve Customer Experience</h3>
                                  <p>Automatically add servers to meet demand and help keep your online services running smoothly.</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="shape-box  wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                              <img src="/static/assets/images/shape/microsoft_shape2.png" alt="shape1" class="shape">
                                <div class="info-box">
                                  <img src="/static/assets/images/icons/microsoft/card1_icon2.png" class="icon" alt="card1_icon1">
                                  <h3>Lower Costs</h3>
                                  <p>Dynamically remove servers when demand is low to avoid over provisioning and lower your costs.</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="shape-box  wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                              <img src="/static/assets/images/shape/microsoft_shape2.png" alt="shape1" class="shape">
                                <div class="info-box">
                                  <img src="/static/assets/images/icons/microsoft/card1_icon3.png" class="icon" alt="card1_icon1">
                                  <h3>Automate Tasks</h3>
                                  <p>Automate manual tasks to reduce errors and enable you to focus more time on customers.</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                  </div>
                </div>
            </section>
      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}