{% extends 'base.html' %}
{% load static %}
{% block title %}Solutions {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner solutions-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Solutions</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- solutions Section 1 Start -->
      <section class="solutions-up solutions-1">
        <div class="container">

          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.2">Solutions</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4">The Enterprise Assurance Program from ARMS IT is your shield of protection. As a complete support system, this advantage program assures your business operations and guarantees your operational continuity, rain or shine.</p>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.6">Experience peace of mind from knowing your operational continuity, cross-training, and security updates are assured with our 24/7 pledge of support.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
              <div class="image wow slideInRight" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/solutions_1.png' %}"  class="img-fluid" alt="solutions_1">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- solutions Section 1 End -->

      <!-- solutions-box-section Start  -->
      <section class="solutions-box-section">
        <div class="container">
          <div class="row info-box-row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon1.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>ERP systems</h3>
                      <ul>
                        <li>ADempiere</li>
                        <li>Apache OFBiz</li>
                        <li>Dolibarr</li>
                        <li>ERPNext</li>
                        <li>Metasfresh</li>
                        <li>Odoo</li>
                        <li>Opentaps</li>
                        <li>WebERP</li>
                        <li>xTuple PostBooks</li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon2.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>Customer 
                        relationship 
                        management tools</h3>
                      <ul>
                        <li>SuiteCRM</li>
                        <li>Bitrix24</li>
                        <li>EspoCRM</li>
                        <li>Vtiger</li>
                        <li>CiviCRM</li>
                        <li>Fat Free CRM</li>
                        <li>Zurmo</li>
                      </ul>
                      
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.2s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon3.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>Project Managment 
                        Tools</h3>
                      <ul>
                        <li>OpenProject</li>
                        <li>Tuleap Open ALM</li>
                        <li>OrangeScrum</li>
                        <li>Taiga</li>
                        <li>Odoo</li>
                        <li>MyColla</li>
                      </ul>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon4.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>LDAP 
                        implementations</h3>
                      <ul>
                        <li>OpenLDAP</li>
                        <li>ApacheDS</li>
                        <li>OpenDJ</li>
                        <li>389 Directory Serve</li>
                      </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon5.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>Business intelligence 
                        and reporting tools</h3>
                      <ul>
                        <li>BIRT</li>
                        <li>knowage</li>
                        <li>JasperReport</li>
                        <li>Pentaho</li>
                      </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.4s">
                  <img src="{% static 'assets/images/shape/soluction-shape1.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card1_icon6.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>Webmail clients</h3>
                      <ul>
                        <li>Roundcube</li>
                        <li>Zimbra</li>
                        <li>SquirrelMail</li>
                        <li>Rainloop</li>
                      </ul>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </section>

      <!-- solutions Section 2 Start -->
      <section class="solutions-up solutions-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/solutions_2.png' %}"  class="img-fluid" alt="solutions_2">
              </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.2s">RESULTS-DRIVEN PROCESS</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Our team provides you scientifically researched and fact-
                  based solutions needed to improve and maintain your 
                  system. We approach each project as the unique endeavor 
                  it is, following a proven four-step method for success:</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="solutions-box-section-2">
        <div class="container">
          <div class="row info-box-row">

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                  <img src="{% static 'assets/images/shape/soluction-shape2.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card2_icon1.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>ANALYZE</h3>
                      <p>Determine your 
                        situation, goals, 
                        timeline, cost, and the 
                        best way to build a 
                        prototype that best fits 
                        your needs.</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                  <img src="{% static 'assets/images/shape/soluction-shape2.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card2_icon2.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>OPTIMIZE</h3>
                      <p>Advance and simplify future phases of work by optimizing the more critical parts of your business systems.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                  <img src="{% static 'assets/images/shape/soluction-shape2.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card2_icon2.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>AUTOMATE</h3>
                      <p>Streamline the experience to encourage optimal choices, while giving the flexibility to react to special cases.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="shape-box  wow fadeInUp" data-wow-delay="0.3s">
                  <img src="{% static 'assets/images/shape/soluction-shape2.png' %}" alt="shape1" class="shape">
                    <div class="info-box">
                      <img src="{% static 'assets/images/icons/soluctions/card2_icon2.png' %}" class="icon" alt="lightbulb-outline-badged">
                      <h3>TRANSITION</h3>
                      <p>Coach, train, and support your team members as they become accustomed to using the new operating systems.</p>
                  </div>
                </div>
              </div>


              

          </div>
        </div>
      </section>
      <!-- solutions Section 2 End -->

      <!-- Home Contact Section Start -->
      <section class="home-contact-section wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}