{% extends 'base.html' %}
{% load static %}
{% block title %} why-us {% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper">
      <!-- Banner Start -->
      <section class="hero-banner Why-us-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Why Us</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->

      <!-- Why Us Section 1 Start -->
      <section class="why-us-section-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <div class="content">
                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Why ARMS IT?</h1>
                <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">A unique combination of business process 
                  consulting, technology customization, integrated 
                  implementation, and support.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Us Section 1 End -->

      <!-- Why Us Section 2 Start -->
      <section class="why-us-about-section-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="image wow slideInLeft"  data-wow-delay="0.7s" data-wow-duration="0.7s">
                <img src="{% static 'assets/images/why_us_1.png' %}"  class="img-fluid" alt="why_us_1">
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="content">
                
                <p class="font-600 wow fadeInUp" data-wow-delay="0.3s">Our consultants work personally with each of our 
                  clients to analyze the problems facing their 
                  operations and the business goals that they want 
                  to realize. We then work together with our clients 
                  to find the best strategies for reaching those goals 
                  while developing and customizing an Open 
                  platform to help optimize their business processes 
                  and promote improved business habits. Our teams 
                  are invested in understanding your requirements, 
                  and tailoring our approach to your specific needs 
                  and objectives. We will analyze your organization 
                  as an entire system, allowing us to find 
                  relationships between components and processes, 
                  cascading effects of decisions, and opportunities 
                  that may be hidden at department or 
                  management levels.
                  
                  </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Us Section 2 End -->

      <!--  Why Us Section 3 Start -->
      <section class="about-section-3 why-us-section-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <h2 class="section-heading wow fadeInUp" data-wow-delay="0.2s">Primary Business Benefits Of An 
                Open Source System</h2>
            </div>
          </div>
          <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 order">
              <div class="content">
                <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">Operational advantages</h1>
                <div class="heading-border">
                  <span class="wow fadeInUp" data-wow-delay="0.2s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.4s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.6s"></span>
                </div>
                <ul class="points-ul">
                  <li class="wow fadeInUp" data-wow-delay="0.1s">Streamline complex company systems</li>
                  <li class="wow fadeInUp" data-wow-delay="0.2s">Pinpoint and advance cost savings</li>
                  <li class="wow fadeInUp" data-wow-delay="0.3s">Identify factors and goals for optimization</li>
                  <li class="wow fadeInUp" data-wow-delay="0.4s">Implement decision support systems</li>
                  <li class="wow fadeInUp" data-wow-delay="0.5s">Optimize resources and project management</li>
                  <li class="wow fadeInUp" data-wow-delay="0.6s">Manage and automate current processes</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="image wow slideInRight"  data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/why_us_2.png' %}"  class="img-fluid" alt="why_arms_it">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Us Section 3 End -->

      <!--  Why Us Section 4 Start -->
      <section class="about-section-3 why-us-section-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="image wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="0.9s">
                <img src="{% static 'assets/images/why_us_3.png' %}"  class="img-fluid" alt="why_us_3">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="content">
                <h1 class="heading wow fadeInUp" data-wow-delay="0.2s">Benefits to your organization</h1>
                <div class="heading-border">
                  <span class="wow fadeInUp" data-wow-delay="0.2s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.4s"></span>
                  <span class="wow fadeInUp" data-wow-delay="0.6s"></span>
                </div>
                <ul class="points-ul">
                  <li class="wow fadeInUp" data-wow-delay="0.1s">Reduce data entry and duplication of efforts</li>
                  <li class="wow fadeInUp" data-wow-delay="0.2s">Faster access to truly accurate information</li>
                  <li class="wow fadeInUp" data-wow-delay="0.3s">Lower operation and inventory costs</li>
                  <li class="wow fadeInUp" data-wow-delay="0.4s">Increase efficiency and productivity</li>
                  <li class="wow fadeInUp" data-wow-delay="0.5s">Foward looking management</li>
                  <li class="wow fadeInUp" data-wow-delay="0.6s">Respond effectively to situations</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why Us Section 4 End -->

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}