{% load static %}
<!doctype html>
<!-- <html lang="en"> -->
  <!-- <html lang="ar" dir="rtl"> -->

<head>
    <!-- title -->
    <title>{% block title %} Home  {% endblock title %} | ARMSIT</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <!-- description -->
    <meta name="description" content="">

    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'asset/images/logo/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'asset/images/logo/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'asset/images/logo/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'asset/images/logo/apple-touch-icon-114x114.png' %}">

    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap RTL CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"> -->

    <!-- Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">

    <!-- Wow CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">

    <!-- Sylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="" id="style">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body>
  <!-- Wrapper Start -->
  <div class="wrapper">
    <!-- Header Start -->
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand" href="{% url 'home'  %}">
                <!-- Site Logo -->
                <img src="{% static 'assets/images/logo/logo.png' %}" class="header-logo" alt="logo">
            </a>
            <div class="mobile-button"><span></span></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContents">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link font-600 active"  href="{% url 'home'  %}">HOME</a>
                </li>
                <li class="nav-item font-600 has-child">
                  <a class="nav-link child-arrow" href="{% url 'about-us' %}">ABOUT US</a>
                  <ul class="sub-menu">
                    <li class="menu-item "><a href="{% url 'why-us' %}" class="nav-link">Why Us</a></li>
                    <li class="menu-item "><a href="{% url 'epa' %}" class="nav-link">Enterprise Assurance Program</a></li>
                    </ul>
                </li>
                <li class="nav-item font-600 has-child">
                  <a class="nav-link child-arrow" href="{% url 'solutions' %}"> SOLUTIONS</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a class="nav-link" href="{% url 'microsoft' %}" >Microsoft Solutions</a></li>
                    <li class="menu-item menu-item-has-children"><a class="nav-link arrow" href="#">By Business Challenge</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a class="nav-link" href="{% url 'myit' %}">Transforming My IT</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'cdc' %}">Consolidating Data Center</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'it-spnd' %}">Controlling IT spend</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'mtc' %}">Migrating to Cloud</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'mod-app' %}">Modernizing Applications</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'protect' %}">Protecting Business Data</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'scale-business' %}">Scaling My Business</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'app-mang' %}">Application Management</a></li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'db-mang' %}">Database Managment</a></li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'e-com' %}">E-commerce and digital experience</a></li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'erp'%}">Enterprise Resource Planning (ERP)</a></li>
                    <li  class="menu-item"><a class="nav-link" href="{% url 'productivity' %}">Productivity and Collaboration</a></li>
                  </ul>
                </li>
                <li class="nav-item font-600  has-child">
                  <a class="nav-link child-arrow" href="#">SERVICES</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a class="nav-link" href="{% url 'mobile-app' %}" >Mobile Application Development</a>
                      
                    </li>
                    <li class="menu-item menu-item-has-children"><a class="nav-link arrow" href="#">Managed Cloud</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a class="nav-link" href="{% url 'ubantu' %}">Ubuntu Cloud</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a class="nav-link arrow" href="#">Application Services</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a class="nav-link" href="{% url 'dev-ops' %}">DevOps</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'erp' %}">Enterprise Resource Planning (ERP)</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'e-com' %}">E-commerce and digital experience</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'chef-automat' %}">Chef Automat</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'databricks' %}">Databricks Unified Analytics Platform</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'bpm' %}">Business Process Management</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'app-mang' %}">Application Management</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a class="nav-link arrow" href="#">Professional Services</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a class="nav-link" href="{% url 'data-service' %}">Data Services</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'data-integration' %}">Data Integration</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'mdm' %}">Master Data Managment</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'cdsw' %}">Cloudera Data Science Workbench</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'dev-ops' %}">DevOps</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'hdp' %}">Hortonworks Data Platform</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'cc' %}">CloudBees Core</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'cos' %}">Confluent Open Source</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'document-managment' %}">Documents Management</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children"><a class="nav-link arrow" href="#">Security & Compliance</a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a class="nav-link" href="{% url 'managed-security' %}">Managed Security</a></li>
                        <li class="menu-item"><a class="nav-link" href="{% url 'oss' %}">Open Source Security</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'chatbot-view' %}">Chatbot</a></li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'rpa' %}">Robotics Process Automation (RPA)</a></li>
                    <li class="menu-item"><a class="nav-link" href="{% url 'ars' %}">Augmented Reality Services</a></li>
                    <li  class="menu-item"><a class="nav-link" href="{% url 'microsoft' %}">Microsoft Solutions</a></li>
                  </ul>
                </li>
                <li class="nav-item font-600">
                  <a class="nav-link" href="{% url 'contact-us' %}">CONTACT US</a>
                </li>
                <!-- <li class="nav-item font-600">
                  <a class="nav-link" href="#">Link</a>
                </li> -->
                <li id="lang" class="lang-drop">
                    <span class="select-lang font-600">ENG <img src="{% static 'assets/images/icons/maps/usa.png' %}" class="select-flag" alt="usa"><i class="fas fa-chevron-down"></i></span>
                    <ul class="lang-ul">
                        <li class="flag">
                          <img src="{% static 'assets/images/icons/maps/usa.png' %}" alt="usa" class="select-flag">
                          <span class="contryflag">ENG</span>
                        </li>
                        <li class="flag">
                          <img src="{% static 'assets/images/icons/maps/saudi-arabia.png' %}" alt="saudi-arabia" class="select-flag">
                          <span class="contryflag">Arabic</span>
                        </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Site Wrapper Start -->
    {% block content %}
    <!-- Site Wrapper Start -->
    
    <!-- Site Wrapper End -->
    {% endblock %}
    <!-- Footer Start -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo-text">
              <a href="index.html">
                <img src="{% static 'assets/images/logo/footer-logo.png' %}" class="footer-logo" alt="footer-logo">
              </a>
              <p>ARMS IT is IT Consulting 
                Company based in Saudi 
                since 2003 located in Riyadh</p>
              <p>Riyadh-Saudi Arabia, 8000 King  Fahad Road, OlayaDisc 4055</p>  
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="contact-block">
              <div class="heading">Contact</div>
              <ul>
                <li>
                  <h6>Phone</h6>
                  <a href="tel:+966509153401">+966509153401</a>
                </li>
                <li>
                  <h6>Email</h6>
                  <a href="mailto:info@armsit.com">info@armsit.com</a>
                </li>
              </ul>
            </div>
            
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="language-block">
              <div class="heading">Change Language</div>
              <ul class="language-ul">
                <li><button class="english btn">English</button></li>
                <li><button class="arabic btn" type="button">Arabic</button></li>
              </ul>
              <div class="heading">Change Language</div>
              <ul class="social-ul">
                <li><a href="#"><img src="{% static 'assets/images/icons/logo-whatsapp.png' %}" alt="whatsapp"></a></li>
                <li><a href="#"><img src="{% static 'assets/images/icons/logo-linkedin.png' %}" alt="linkedin"></a></li>
                <li><a href="#"><img src="{% static 'assets/images/icons/logo-facebook.png' %}" alt="facebook"></a></li>
                <li><a href="#"><img src="{% static 'assets/images/icons/logo-twitter.png' %}" alt="twitter"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="coypright">
        <h6>Copyright 2019 © All Right reserved to armsit.com</h6>
      </div>
    </footer>
    <!-- Footer End -->
  </div>
  <!-- Wrapper End -->



  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
  <script>
    $('#owl-clients').owlCarousel({
      loop: true,
      margin: 30,
      dots: false,
      nav: true,
      items: 2,
      autoplay: true,
      autoplayHoverPause: true,
      navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });

    jQuery(document).ready(function($){
      let slider = $('#owl-service');
      slider.each(function () {
        $(this).owlCarousel({
          nav: true,
          loop:false,
          dots: false,
          autoplay: false,
          pagination: false,
          margin: 25,
          autoHeight: false,
          stagePadding: 50,
          navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],
          responsive:{
            0:{
              items: 1,
              stagePadding: 0,
              margin: 30,
            },
            767:{
              items: 2,
              stagePadding: 25,
            },
            1000:{
              items: 2,
            },
            1199:{
              items: 3,
            }
          }
        });
      });
    });
  </script>
</body>

</html>