{% extends 'base.html' %}
{% load static %}
{% block title %} Transforming My IT{% endblock title %}
{% block content %}
    <!-- Site Wrapper Start -->
    <div class="site-wrapper about-page">
      <!-- Banner Start -->
      <section class="hero-banner about-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Transforming My IT </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- Banner End -->
       <!-- mob-app-dev Section 2 Start -->
            <!-- microsoft-solutions Section 1 Start -->
            <section class="microsoft-solutions-section microsoft-solutions-1">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div class="content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">IT TRANSFORMATION-AS-A-SERVICE</h1>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">Business innovation is no longer just about getting ahead of the competition — it’s about survival. And getting the most out of your technology stack can mean the difference between forging ahead or lagging behind. According to 451 Research, nearly 80 percent of businesses are looking to transform their IT environments to meet their evolving business needs. But the path to IT transformation is littered with obstacles, including:
                        </p>
                        <ul><li>A lack of in-house expertise</li><li>Shrinking IT budgets</li><li>Inadequate legacy systems</li></ul>                        
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">The path of IT transformation may include plenty of hurdles, but it is navigable with the right services, expertise and road-tested approach.</p>
                        <p class="font-600 wow fadeInUp" data-wow-delay="0.4s">We can help you:</p>
                        <ul><li>Secure your data and manage your IT infrastructure</li><li>Migrate your data and apps to their new environment</li><li>Automate and optimize the delivery of your IT services</li><li>Build a flexible delivery model that scales your business</li></ul>
                    </div>
                    </div>
                  </div>
                </div>
              </section>
      <!-- mob-app-dev Section 2 End -->


      

      <!-- Home Contact Section Start -->
      <section class="home-contact-section  wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-box">
                <div class="left">
                  <img src="{% static 'assets/images/contact.png' %}" alt="contact">
                </div>
                <div class="right">
                    <h3 class="heading">Contact Us</h3>
                    <form class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Last Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Company</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="group message-bar">
                          <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                          <label>Message</label>
                        </div>
                      </div>
                      
                      <div class="col-md-12">
                        <button type="button" class="btn contact-btn">Send</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Contact Section End -->

    </div>
    <!-- Site Wrapper End -->
{% endblock %}